<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
   <bean id="factoryabclife_basic_imageInputView_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_basic_pfDimension_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_basic_pfDimensionDefDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_basic_pfRelation_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_basic_pfRelationDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_basic_pfRiskAmntType_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_basic_pfRiskAmntTypeDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_basic_pfSKElement_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_basic_pfSKElementDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_basic_pfUploadManage_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfCombo_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboAttrib_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboChoose_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboChooseDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboElement_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboElementDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboInsurtypeRef_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboInsurtypeRefCalDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboInsurtypeRefFixDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboInsurtypeRefFixDialog2_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboParam_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_pfComboRateManage_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboAttrib_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboChoose_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboElement_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboElementDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboInsurtypeRef_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboInsurtypeRefCalDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboInsurtypeRefFixDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboInsurtypeRefFixDialog2_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboParam_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_pfComboRateManage_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_docuManage_pfTermManagement_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_docuManage_pfTermManagementShow_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_docuManage_pfTermManagementUp_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pFInterestRate_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pFInterestRateCruuDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pFInterestRateDividDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pFInterestRateFileUpload_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pFInterestRateLoanDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pFInterestRateSurvvDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pFInterestRateUnivrslDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfFeeManage_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfMarketManage_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfMarketManageDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfMatchRel_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfMatchRelDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfPriceDuty_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfPriceDutyDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfProductApprove_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRisk_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskAcc_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskAccDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskAmnt_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskAmntDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskAttrib_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskBaseInfo_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskCopyDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskElement_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskElementShow_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskItem_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskItemProperty_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskLiabLimit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskLiabLimitDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskLiabLimitDialog2_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskParamDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskParamPersonnelDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskParamTab_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrest_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestAccDetail_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestAccDetailDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestAlgoDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestClaim_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestClaimDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestElement_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestElementShow_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestLive_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskPrestLiveDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskRateManage_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskRateManageDialog_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_pfRiskRateManageFileUpload_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_test_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfFeeManageinf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskAccInf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskAmntInf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskAttribInf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskInf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskInfDetail_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskItemInf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskLiabLimitInf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskParamTabInf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskPricingInf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_pfRiskProtectInf_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_test_calTest_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_combo_navigateButton_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_comboInformation_navigateButton_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_risk_navigateButton_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="factoryabclife_riskInformation_navigateButton_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
</beans>

