<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
   <!-- 配置通用技术组件SC启动项 -->
   <bean id="techcomp" class="com.neusoft.unieap.core.base.model.SCActivator">
      <property name="id" value="techcomp" />
      <property name="title" value="技术组件" />
      <!--      <property name="application">-->
      <!--         <bean class="com.neusoft.unieap.core.base.model.Application">-->
      <!--            <property name="title" value="管理控制台" />-->
      <!--            <property name="icon" value="/techcomp/images/Console.png" />-->
      <!--            <property name="welcome" value="/techcomp/menu/index.jsp" />-->
      <!--            <property name="bigIcon" value="/techcomp/images/picture.png" />-->
      <!--         </bean>-->
      <!--      </property>-->
      <property name="version" value="1.0.0" />
   </bean>
   <import resource="applicationContext-import.xml" />
</beans>

