@charset "utf-8";
.body_bg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #5e96c5;
	background-image: url(images/bg.gif);
	background-position: left top;
	text-align: left;
	background-repeat: no-repeat;
}
.title{

	 float:left;
	 color:#ffffff;
     marginBottom:20px;
	}
.message_div{
	 padding:20px,40px,0px,20px;
	 background:#ffffff;
	 width:100%;
	 line-height:25px;
	 font-size:16px;
	 color:#316ac5;
	 text-align:left;
	}
.stack_div{
	color:red;
	display:block;
	background-color:#FFFFFF;
	padding:15px
	}
