/*@import url("../form/button/button.css");*/
/** 对话框外层容器样式 **/
.unieap .u-dlg table {
	font-size: 12px;
}

.unieap .u-dlg {
	
}
/** 头部样式 **/
.unieap .u-dlg-mt {
	
}
/** 头部左上角样式 **/
.unieap .u-dlg-mtl {
	height: 23px;
	width: 5px;
	background: url("../images/dialog/dlgBox_bg.png") no-repeat left top;
}
/** 头部右上角样式 **/
.unieap .u-dlg-mtr {
	height: 23px;
	width: 5px;
	background: url("../images/dialog/dlgBox_bg.png") no-repeat right top;
}
/** 头部内容样式 **/
.unieap .u-dlg-mtc {
	height: 23px;
	background: url("../images/dialog/dlg_hbg.png") repeat-x;
}
/** 头部文字区域样式 **/
.unieap .u-dlg-mtt {
	height: 23px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}
/** 头部按钮区域样式 **/
.unieap .u-dlg-mtb {
	height: 23px;
	width: 61px;
}
/** 头部放大按钮样式 **/
.unieap .u-dlg-mtb .u-dlg-be {
	width: 24px;
	height: 18px;
	background: transparent url("../images/dialog/be.png") no-repeat;
}
/** 头部缩小按钮样式 **/
.unieap .u-dlg-mtb .u-dlg-bs {
	width: 15px;
	height: 14px;
	background: transparent url("../images/dialog/bs.gif") no-repeat;
}
/** 头部关闭按钮样式 **/
.unieap .u-dlg-mtb .u-dlg-bc {
	width: 36px;
	height: 18px;
	background: transparent url("../images/dialog/bc.png") no-repeat;
}
/** 内容区域样式 **/
.unieap .u-dlg-mm {
	width: 100%;
	background-color: #f4f6f8;
}
/** 左边框样式 **/
.unieap .u-dlg-ml {
	width: 5px;
	height: 100%;
	background: url("../images/dialog/ml.png") repeat-y;
}

.dj_ie6 .unieap .u-dlg-ml {
}
/** 右边框样式 **/
.unieap .u-dlg-mr {
	width: 5px;
	height: 100%;
	background: url("../images/dialog/mr.png") repeat-y;
}

.dj_ie6 .unieap .u-dlg-mr {
}
/** 中间内容样式 **/
.unieap .u-dlg-mmm {
	width: auto;
	height: 100%;
}
/** 自定义内容外层样式 **/
.unieap .u-dlg-mmf {
	width: 100%;
}
/** 自定义内容样式 **/
.unieap .u-dlg-mmc {
	width: 100%;
	height: 100%;
	font-size: 12px;
}
/** 按钮定义区域样式 **/
.unieap .u-dlg-mmb {
	text-align: center;
	height: 34px;
	background: url(../images/dialog/dlg_hbg.png) repeat-x bottom;
}
/** 底部边框样式 **/
.unieap .u-dlg-mb {
	height: 5px;
	width: 100%;
}
/** 底部左下角边框样式 **/
.unieap .u-dlg-mbl {
	height: 5px;
	width: 5px;
	background: url("../images/dialog/dlgBox_bg.png") no-repeat left bottom;
}
/** 底部右下角边框样式 **/
.unieap .u-dlg-mbr {
	height: 5px;
	width: 5px;
	background: url("../images/dialog/dlgBox_bg.png") no-repeat right bottom;
}
/** 底部内容边框样式 **/
.unieap .u-dlg-mbc {
	height: 5px;
	background: url("../images/dialog/dlg_hbg.png") repeat-x bottom;
}

.unieap .u-dlg-backgroundIframe {
	
}

/**  在对话框上再次弹出对话框时，对前一对话框进行遮挡的层 **/
.unieap .u-dlg-modalDiv {
	background-color: #c3daf9;
	border: 1px solid #6593cf;
}

.unieap .unieap-dlg-BackgroundIframe {
	
}

.unieap  .unieap-dlg-contentIframe {
	
}

.unieap .u-dlg-moveDiv {
	background-color: #c3daf9;
}

.unieap .messageBg table td {
	font-family: 宋体;
	font-size: 12px;
}

.questionIcon {
	width: 32px;
	height: 32px;
	background: url(../images/dialog/icon-question.gif) center center
		no-repeat
}

.errorIcon {
	width: 32px;
	height: 32px;
	background: url(../images/dialog/icon-error.gif) center center no-repeat
}

.infoIcon {
	width: 32px;
	height: 32px;
	background: url(../images/dialog/icon-info.gif) center center no-repeat
}

.warnIcon {
	width: 32px;
	height: 32px;
	background: url(../images/dialog/icon-warning.gif) center center
		no-repeat;
}