/**
 * @summary:
 * 		设置按钮控件的外层容器样式
 * @widget:
 * 		{unieap.form.Button}
 */


.unieap .u-form-dropBtn{
	white-space:normal;
}

.unieap .u-form-dropBtn-iconContainer{
	background: url("../images/form/button/btn_right_normal.gif") no-repeat;
}

.unieap a.u-form-btn-outer-disabled .u-form-dropBtn-iconContainer{
	background: url("../images/form/button/btn_right_disable.gif") no-repeat;
}

.unieap .u-form-dropBtn-icon-normal {
	background:  url("../images/form/icon.gif") no-repeat;
	border:none;
}

.unieap .u-form-dropBtn-icon-disabled {
	background:  url("../images/form/disabled-icon.gif") no-repeat;
	border:none;
}
/**
 * @summary:
 * 		设置按钮控件的样式
 * @widget:
 * 		{unieap.form.Button}
 */
.unieap .u-form-btn {
	background: url("../images/form/button/btn_right_normal.gif") no-repeat;
	color:#3c3c3c;
	padding:0px;
	margin:0px;
}

.unieap .u-form-btn-left{
	background: url("../images/form/button/btn_left_normal.gif") repeat-x top left;
}
.unieap .u-form-btn-right{
	background: url("../images/form/button/btn_right_normal.gif") repeat-x top right;
}

.unieap a.u-form-btn-outer,
.unieap a.u-form-btn-outer-disabled{
	border:0px;
	height:22px;
}


.unieap a:hover.u-form-btn-outer .u-form-btn{
	/**background: url("../images/form/button/btn_right_focus.gif") no-repeat;*/
}
.unieap a:hover.u-form-btn-outer .u-form-btn-left{
	/**background: url("../images/form/button/btn_left_focus.gif") repeat-x top left;*/
}
.unieap a:hover.u-form-btn-outer .u-form-btn-right{
	/**background: url("../images/form/button/btn_right_focus.gif") repeat-x top right;*/
}



.unieap a.u-form-btn-outer-disabled .u-form-btn{
	background: url("../images/form/button/btn_right_disable.gif") no-repeat;
}
.unieap a.u-form-btn-outer-disabled .u-form-btn-left{
	background: url("../images/form/button/btn_left_disable.gif") repeat-x top left;
}
.unieap a.u-form-btn-outer-disabled .u-form-btn-right{
	background: url("../images/form/button/btn_right_disable.gif") repeat-x top right;
}


.unieap a:hover.u-form-btn-outer .u-form-btn-txt {
	text-decoration:underline;
}

/**
 * @summary:
 * 		设置按钮上文字的样式
 * @widget:
 * 		{unieap.form.Button}
 */
.unieap .u-form-btn-txt {
	font:12px Verdana;
	color:#3c3c3c;
}

/**
 * @widget:
 * 		{unieap.form.DropDownButton}
 * @summary:
 * 		设置下拉按钮控件右侧的下拉图标样式
 */
.unieap .u-form-triggerBtnImg{
	background:transparent url("../images/form/button/downarrow.gif") no-repeat center;
}

/**
 * @widget:
 * 		{unieap.form.CheckBoxGroup,unieap.form.RadioGroup}
 * @summary:
 * 		设置设置CheckBoxGroup控件和RadioGroup控件的里层文本样式。
 */
.unieap .u-form-chkGroup-label{
	font-size:12px;
}

