.unieap .u-grid-header  .u-grid-cell .u-grid-menu{
	background: transparent url(../images/grid/filter/group-filter.gif) no-repeat scroll left center;
	width:18px;
}



.unieap .u-gird-menu-filtericon{
	background-image:url(../images/grid/filter/filter_ps.gif);
}

.u-grid-filter-body{
	background-color:#eee;
}

.unieap .u-grid-filter{
	text-align:center;
}
.unieap .u-grid-filter-table{
	margin:5px auto 5px 5px;
	width:320px;
	border:none;
	cellspacing :5px;
}
.unieap .u-grid-filter-table select{
	height:21px;
	width:100%;
	font-size:12px;
}
.unieap .u-grid-filter-table .u-menu-item-separator{
	background-color:#d1d1d1;
	display:none;
}

.unieap .u-grid-filter-table .u-grid-filter-cancel {
    background-image: url(../images/grid/filter/cancel.gif);
}

.unieap .u-grid-filter-table .u-grid-filter-ok {
    background-image: url(../images/grid/filter/ok.gif);
}

.unieap .u-grid-filter-table .u-grid-filter-del{
	background: transparent url(../images/grid/filter/delete.gif)  no-repeat center;
	cursor: pointer;
}

.unieap .u-grid-filter-body .u-form-error{
	float:left;
}

.unieap .u-grid-filter-body .u-form-textbox-icon-normal{
	border-left:none;
}
