.unieap .accordionContainer {
	border: none;
}

.unieap .accordioninnerContainer {
	background-color: #c8cbcd;
}

.unieap .accordionTitle {
	background-image: url("../images/layout/accordion.png");
	min-height: 18px;
	color: #4a4a4a;
}

.unieap .accordionTitleHover {
	color: #000000;
}

.dj_ie6 .unieap .accordionTitle {
	background-image: none;
}

.unieap .accordionContainer .accordionChildWrapper {
	/* this extends the blue trim styling of the title bar to wrapping around the node.
	 * done by setting margin
	 */
	background-color: #ffffff;
	margin: 0;
	padding: 5px 5px;
	border-bottom: 1px solid #B8BCBE;
}

.unieap .accordionContainer .accordionContainer-child {
	/* this is affecting the child widget itself */
	padding: 9px;
}
/* Active state for closed pane */
.unieap .accordioninnerContainerActive {
}

.unieap .accordioninnerContainerActive .accordionTitle {
	color: #000000;
}
/* Open (a.k.a. selected) pane */
.unieap .accordioninnerContainerSelected {
	border-color: #769dc0;
}

.unieap .accordioninnerContainerSelected .accordionTitle {
	color: #000000;
	/* avoid effect when clicking the title of the open pane */
}
/* Hovering open or closed pane */
.unieap .accordioninnerContainerHover .accordionTitle {
	/* both open and closed */
	color: #000000;
}

.unieap .accordioninnerContainerHover,.unieap .accordioninnerContainerSelectedActive
	{
}

.unieap .accordioninnerContainerSelectedHover .accordionChildWrapper,.unieap .accordioninnerContainerSelectedActive .accordionChildWrapper
	{
}

.accordionTitle .arrowTextUp, .accordionTitle .arrowTextDown {
    font-size: 0.65em;
    font-weight: normal !important;
}
.unieap .accordionTitleFocus{
	height:40px;
	
	line-height: 38px;
	color: #3A3D40;
	font-weight: bold;
	text-indent: 18px;
	cursor: pointer;
	text-decoration: none;
	
	border-top:1px solid #FFF;
	border-bottom:1px solid #B8BCBE;
}
.unieap:hover .accordionTitleFocus:hover{	
	text-decoration: underline;
}
.unieap .accordionTitleFocus span,.unieap .accordionTitleFocus img
{
	line-height: 40px;
}
.unieap .accordionTitle .accordionArrow {
	background:url("../images/layout/acd_expand.png") no-repeat;
	width:30px;
	height:30px;
	margin:5px;
	float:right;
}
.unieap .accordionTitleHover .accordionArrow {
	background:url("../images/layout/acd_expandFocus.png") no-repeat;
	width:30px;
	height:30px;
	margin:5px;
	float:right;
}
.unieap .accordionTitleSelected .accordionArrow {
	background:url("../images/layout/acd_collapse.png") no-repeat;
	margin:5px;
	float: right;
}