.unieap .menuBar {
	margin: 0;
	padding: 0;
	background-position: 0 0;
	background-repeat: repeat-x;
	color: #000000;
	height: 40px;
	background-color: #4A4A4A;
}

.dj_ie6 .unieap .menuBar {
	background-image: none;
}

.unieap .menuBar .menuBarItem {
	margin: 0;
	padding: 0 0;
	color: white;
	text-align: center;
	border-right: 1px solid #585858;
	line-height: 40px;
	font-weight: bold;
	min-width: 100px;
	margin-left:-5px;
}

.dj_ie .unieap .menuBar .menuBarItem {
	margin-left: 0px;
}

.unieap .menuBarItem {
	background-position: 0 -40px;
	background-repeat: repeat-x;
}

.unieap .menuBar .menuBarItemHover,.unieap .menuBar .menuBarItemSelected
	{
	background: url("../images/menu/headerNavBg.png") repeat-x left top;
	text-decoration: underline;
}

.unieap .menuBar .menuBarItemActive {
}

.dj_ie6 .unieap .menuBarItem,.dj_ie6 .unieap .menuBar .menuBarItem {
	background-image: none;
}

.dj_ie .unieap .dijitMenuActive .menuBarItemHover,.dj_ie .unieap .dijitMenuActive .menuBarItemSelected,.dj_ie .unieap .menuBar .menuBarItemHover,.dj_ie .unieap .menuBar .menuBarItemSelected
	{
	padding: 0;
}