@charset "utf-8";
.body_bg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*
	background-color: #5e96c5;
	background-image: url(images/bg.gif);*/
	background-color: #172a45;
	background-image: url(../images/bg_up.png);
	background-position: top;
	text-align: center;
	background-repeat: no-repeat;
}
.relogin_body_bg{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #172a45;
	background-position: top;
	text-align: center;
}
.login_bg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../images/login_bg.gif);
	background-repeat: no-repeat;
	height: 315px;
	width: 545px;
}
.table {
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	font-size: 12px;
}
.text_copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #D7E1EC;
}
/*
.input_bg1 {
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	font-size: 12px;
	color: #000000;
	width: 180px;
	height: 18px;
	padding-top: 3px;
	padding-left: 3px;
	background-image: url(images/text-bg.gif);
	background-repeat: repeat-x;
	border: 1px solid #7f9db9;
}*/
.input_bg2 {
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	font-size: 12px;
	color: #000000;
	width: 100px;
	height: 18px;
	padding-top: 3px;
	padding-left: 3px;
	background-image: url(../images/text-bg.gif);
	background-repeat: repeat-x;
	border: 1px solid #7f9db9;
}
.input_yzm {
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	font-size: 12px;
	color: #000000;
	width: 76px;
	height: 24px;
	padding-top: 3px;
	padding-left: 3px;
	border: 1px solid #7f9db9;
	background-color: #CCCCCC;
}
.login_td{
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	font-size: 12px;
	text-indent: 0px;
	/*font-weight:bold;*/
/* MODIFY BY TENGYF 60->80*/
	width:80px ;
	height:20px;
	text-align:right;
	color:#50D5FF;
	padding-left:5px;
	/*
	text-shadow:1px 1px 2px rgba(0,0,0,.8), 0 0 1em rgba(255, 0, 255, 0.5), 0 0 0.2em rgba(0, 0, 255, 0.9);
	filter:Shadow(color=#ffff00, strength=0.5);  */   
}

.login_input {
	height: 23px;
	line-height: 23px;
	width:260px;
	background-color:#000;
	color:#fff;
	text-indent: 8px;
	display: block;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	/*绝对路径*/
  	behavior: url(/framework/techcomp/security/ie-css3.htc);
	border-color: #172a45;
	border-width: 0px;
	
}
#logonform{
	padding-top: 260px;
}

#placeholder{
	border-color: #172a45;
	height: 10px;
}
#loginButton{
	margin-right: auto;
	margin-left: auto;
}
