<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>AdaptiveContainer测试</title>
	<link rel="stylesheet"type="text/css" href="../../../../configs/test_config.css"></link>
     <script type="text/javascript" src="../../../../../../dojo/dojo.js" djconfig="parseOnLoad:true"></script>
     <script type="text/javascript" src="../../../../configs/test_config.js"></script>
	 <script type="text/javascript" src="test_adaptivecontainer.js"></script>
	 <script type="text/javascript">
	 	dojo.require("unieap.layout.AdaptiveContainer");
	 	dojo.require("unieap.layout.AdaptivePane");
	 	dojo.require("unieap.layout.TitlePane");
	 </script>
</head>

<body class="unieap">
	<div dojoType="unieap.layout.TitlePane" id="titlePaneOuter"  title="hello">
	  
	 </div>
	 
	 <div id="AdaptiveContainer" dojoType="unieap.layout.AdaptiveContainer" parentContainer="titlePaneOuter">
		   <div dojoType="unieap.layout.AdaptivePane" id="adaptivePane1">
		      <div dojoType="unieap.layout.TitlePane" title="titlepane" >
		      固定高度1
		      </div>    
		   </div>
		   <div dojoType="unieap.layout.AdaptivePane" id="adaptivePane2">
		      <div dojoType="unieap.layout.TitlePane" title="titlepane" >
		      固定高度2
		      </div>    
		   </div>
		   <div dojoType="unieap.layout.AdaptivePane" autoHeight="true">
		      自适应内容
		   </div>
		   <div dojoType="unieap.layout.AdaptivePane" id="adaptivePane3">
		      <div dojoType="unieap.layout.TitlePane" title="titlepane" >
		      固定高度3
		      </div>    
		   </div>
	   </div>
  	
</body>
</html>