.unieap .u-combobox-item .match {
	color: #aa5cf8;
}

.unieap .u-combobox-list-header {
	background: #328aa4 url(../images/form/combobox/comboheader-bg.gif)
		repeat-x;
	color: #000
}

.unieap .u-combobox-list-header table th {
	background: #328aa4 url(../images/form/combobox/comboheader-bg.gif)
		repeat-x;
	color: #000;
	font-weight: normal;
	font-size: 14px;
}

.unieap .u-combobox-items-container table {
	background-color: #f7f7f7;
}

.unieap .u-combobox-items-container table td {
	font: 12px verdana;
}

.unieap .u-combobox-items-container .u-comobobox-item-hover {
	background-color: #d1dfeb;
}

.unieap .u-combobox-popup-open-border {
	overflow: auto !important;
	border: 1px solid #7f9db9;
}

.u-comboboxloaction-list {
	font-family: Arial;
	left: 138.5px;
	height: auto;
	top: 140px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #2B8CCE;
	font-size: 12px;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index:10001;
}

.u-comboboxloaction-list .u-comboboxloaction-list-tip {
	background-color: #EEF1F8;
	border-width: 0;
	color: #666666;
	margin: 1px 1px 0;
	padding: 6px 0 5px 15px;
	position: relative;
	text-align: left;
}

.u-comboboxloaction-list a.u-comboboxloaction-list-close {
	background: #aaaaaa url(../images/form/combobox/close_show_citys.jpg) no-repeat;
	display: block;
	font: 1px/ 1px arial;
	height: 17px;
	position: absolute;
	right: 9px;
	cursor: pointer;
	text-indent: -9999em;
	top: 6px;
	width: 17px;
}

.u-comboboxloaction-list-header:after {
	clear: both;
	color: #131313;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.u-comboboxloaction-list-header {
	padding: 5px 5px 0;
}

.u-comboboxloaction-list ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.u-comboboxloaction-list-header {
	background: none repeat scroll 0 0 #1E81D4;
	border-bottom: 2px solid #1E81D4;
	height: 25px;
}

.u-comboboxloaction-list li {
	cursor: pointer;
	display: block;
	float: left;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	margin: 0;
	overflow: hidden;
	padding: 2px 0 0;
	text-align: center;
	vertical-align: middle;
}

.u-comboboxlocation-item-hover{
	background:#1E81D4;
	color:#ffffff;
}

.u-comboboxloaction-list-header li {
	color: #E6F9FF;
	height: 25px;
	line-height: 25px;
	padding: 0 8px;
	width: 38px;
}

.u-comboboxloaction-list-header .u-comboboxloaction-list-header-click {
	background: none repeat scroll 0 0 #66C8E8;
	border-radius: 5px 5px 0 0;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
}
.u-comboboxloaction-list-header .u-comboboxloaction-list-header-click:hover{
	background: none repeat scroll 0 0 #66C8E8;
}

.u-comboboxloaction-list-container ul {
	overflow: hidden;
}

.u-comboboxloaction-list-container li {
	background-color: #FFFFFF;
	color: #666666;
	margin: 0 6px;
	overflow: hidden;
	text-align: center;
	width: 55px;
}

.u-comboboxloaction-list-container .u-comboboxlocation-item-hover{
	background-color:#1E81D4;
	color:#ffffff;
}

.u-comboboxloaction-list-container .querylist {
	margin: 0;
	padding-left:6px;
	text-align: left;
	width: 100%;
}

.u-comboboxloaction-list-footer {
	color: #666666;
	padding: 3px;
	display: block;
	height: 25px;
	position: absolute;
	bottom:0;
	width: 100%;
}

.u-comboboxloaction-list-footer .u-comboboxloaction-list-footer-Previous{
	color: #aaaaaa;
	padding: 3px 3px 3px 0px;
	display: block;
	float: left;
}

.u-comboboxloaction-list-footer .u-comboboxloaction-list-footer-able:hover{
	background:#1E81D4;
	color:#ffffff;
}

.u-comboboxloaction-list-footer .u-comboboxloaction-list-footer-next {
	color: #aaaaaa;
	padding: 3px 0px 3px 3px;
	margin-right: 8px;
	display: block;
	float: right;
}

.u-comboboxloaction-list-footer .u-comboboxloaction-list-footer-able {
	cursor:pointer;
	color:#666666;
}


.unieap .u-form-combobox-icon-location {
	border-left: 0 !important;
	background: url("../images/form/lcicon.png") no-repeat !important;	
}