@CHARSET "UTF-8";
.unieap .imageviewer-toolbar {
	background: url("../images/imageviewer/placeholder.png") repeat;
}

.unieap div.imageviewer-toolbar-zoom-percent {
	visibility:hidden;
}
.unieap div.imageviewer-toolbar-zoom-percent:hover {
	visibility:visible;
}

.unieap a.imageviewer-toolbar-btn-rotate-left {
	filter: none;
	background: transparent !important;
	border: none !important;
}
.unieap a.imageviewer-toolbar-btn-rotate-left:hover {
	filter: none;
	background: transparent !important;
}
.unieap a.imageviewer-toolbar-btn-rotate-left .u-form-btn-txt{
	visibility:hidden;
}
.unieap a.imageviewer-toolbar-btn-rotate-right {
	filter: none;
	background: transparent !important;
	border: none !important;
}
.unieap a.imageviewer-toolbar-btn-rotate-right:hover {
	filter: none;
	background: transparent !important;
}
.unieap a.imageviewer-toolbar-btn-rotate-right .u-form-btn-txt{
	visibility:hidden;
}
.unieap .imageviewer-toolbar-input-zoom-rate {
	width: 80px;
	height: 25px;
	margin-top: 10px;
}
.unieap a.imageviewer-toolbar-btn-zoom-out {
	filter: none;
	background: transparent !important;
	border: none !important;
}
.unieap a.imageviewer-toolbar-btn-zoom-out:hover {
	filter: none;
	background: transparent !important;
}
.unieap a.imageviewer-toolbar-btn-zoom-out .u-form-btn-txt{
	visibility:hidden;
}
.unieap a.imageviewer-toolbar-btn-zoom-in {
	filter: none;
	background: transparent !important;
	border: none !important;
}
.unieap a.imageviewer-toolbar-btn-zoom-in:hover {
	filter: none;
	background: transparent !important;
}
.unieap a.imageviewer-toolbar-btn-zoom-in .u-form-btn-txt{
	visibility:hidden;
}
.unieap a.imageviewer-toolbar-btn-fit {
	filter: none;
	background: transparent !important;
	border: none !important;
}
.unieap a.imageviewer-toolbar-btn-fit:hover {
	filter: none;
	background: transparent !important;
}
.unieap a.imageviewer-toolbar-btn-fit .u-form-btn-txt{
	visibility:hidden;
}

.unieap .imageviewer-toolbar-icon-rotate-left {
	display:inline-block;
	background: url("../images/imageviewer/rotate_left.png") no-repeat;
	width: 25px;
	height: 25px;
}
.unieap .imageviewer-toolbar-icon-rotate-right {
	display:inline-block;
	background: url("../images/imageviewer/rotate_right.png") no-repeat;
	width: 25px;
	height: 25px;
}
.unieap .imageviewer-toolbar-icon-fit {
	display:inline-block;
	background: url("../images/imageviewer/fit.png") no-repeat;
	width: 25px;
	height: 25px;
}
.unieap .imageviewer-toolbar-icon-zoom-out {
	display:inline-block;
	background: url("../images/imageviewer/zoomout.png") no-repeat;
	width: 25px;
	height: 25px;
}
.unieap .imageviewer-toolbar-icon-zoom-in {
	display:inline-block;
	background: url("../images/imageviewer/zoomin.png") no-repeat;
	width: 25px;
	height: 25px;
}