/**
* Tooltip组件的自定义样式
**/

.dijitTooltipContainer {
	border: solid black 2px;
	background: #b8b5b5;
	color: black;
	z-index:10000;
}


.unieap .dijitTooltip{
	background: transparent;
	z-index:10000;
}

.unieap .dijitTooltipContainer {
	background: #ffffff url("../images/tooltip/popupMenuBg.gif") repeat-x bottom left;
	border: 1px solid #7eabcd;
	z-index:10000;
}

.unieap .dijitTooltipBelow .dijitTooltipConnector {
	background:url("../images/tooltip/tooltipConnectorUp.png") no-repeat top left;
	z-index:10000;
}

.dj_ie6 .unieap .dijitTooltipBelow .dijitTooltipConnector {
	background-image: url("../images/tooltip/tooltipConnectorUp.gif");
		z-index:10000;
}

.unieap .dijitTooltipAbove .dijitTooltipConnector {
	background:url("../images/tooltip/tooltipConnectorDown.png") no-repeat top left;
	z-index:10000;
}
.dj_ie6 .unieap .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url("../images/tooltip/tooltipConnectorDown.gif");
		z-index:10000;
}

.unieap .dijitTooltipLeft .dijitTooltipConnector {
	background:url("../images/tooltip/tooltipConnectorRight.png") no-repeat top left;
		z-index:10000;
}
.dj_ie6 .unieap .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url("../images/tooltip/tooltipConnectorRight.gif");
		z-index:10000;
}


.unieap .dijitTooltipRight .dijitTooltipConnector {
	background:url("../images/tooltip/tooltipConnectorLeft.png") no-repeat top left;
		z-index:10000;
}
.dj_ie6 .unieap .dijitTooltipRight .dijitTooltipConnector {
	background-image: url("../images/tooltip/tooltipConnectorLeft.gif");
		z-index:10000;
}

.dj_webkit .unieap .dijitPopup .dijitTooltipContainer,
.dj_webkit .unieap .dijitPopup .dijitMenu {
	-webkit-box-shadow: 0px 5px 10px #adadad;
		z-index:10000;
}


.unieap  .dijitTooltipContainerLoadingImage {
	background: url("../images/tooltip/loadingtooltip.gif") no-repeat top left;
		z-index:10000;
}
.dj_ie6 .unieap .dijitTooltipContainerLoadingImage {
	background-image: url("../images/tooltip/loadingtooltip.gif");
		z-index:10000;
}


.unieap .helpTipBg{
	background: url("../images/helpTip/bg.png") repeat-x scroll 0 0 #FFE853;
}

.unieap .helpTipTittle{
	font-size: 1.3em;
    font-weight: bold;
    padding: 10px 0 0 11px;
}

.unieap .helpTipContent{
	padding: 10px;
	color: #333333;
}

.unieap .helpTipPage{
	margin-top: 15px;
	padding-left: 10px;
	float:left;
}

.unieap .helpTipBtnBImg{
    background: url("../images/helpTip/button-arrow-left.png") no-repeat left center;
    width:5px;
    height:5px;
}

.unieap .helpTipBtnNImg{
    background: url("../images/helpTip/button-arrow-right.png") no-repeat right center;
    width:5px;
    height:5px;
}

.unieap .helpTipBtnBText{
	font-size:9px;
	text-decoration:underline;
}

.unieap .helpTipBtnNText{
}

.unieap .helpTipBtnSText{
   font-size:11px;
}

.unieap .helpTipBtnBReplay{
	font-size:12px;
    text-decoration:none;
}

.unieap .helpTipBtnContent{
	margin:10px;
	float:right;
}

.unieap .helpTipClose{
	background: url("../images/helpTip/closeX.png") repeat scroll 0 0;
    height: 20px;
    position: absolute;
    right: 6px;
    text-decoration: none;
    top: 4px;
    width: 20px;
}

.unieap .helpTipClose:hover{
	background-position: left -20px;
}

.unieap .helpTipImg{
	padding:0px 11px;
	display:none;
}


.unieap .dijitHelpTipAbove {
	margin-bottom: 22px;
}
.unieap .dijitHelpTipAbove .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat right -77px;
	bottom: -35px;
	width:38px;
	height:38px;
	left:15px;
}

.unieap .dijitHelpTipBelow {
	margin-top: 30px;
}
.unieap .dijitHelpTipBelow .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat 0 bottom;
	top: -35px;
	left:15px;
	width:38px;
	height:38px;
}

.unieap .u-helptip-btn {
	white-space:normal;
	cursor:pointer;
	vertical-align:middle;
	border:none;
	background:transparent;
}

.unieap .u-helptip-btn-txt {
	white-space:nowrap;
	padding:0;
	text-align:center;
	display:inline-block;
	font:12px Verdana;
	color:#000;
    text-decoration:underline;
}

.unieap a.u-helptip-btn-outer,
.unieap a.u-helptip-btn-outer-disabled{
	display:inline-block;
	height:21px;
}


 .unieap a.navigator-helptip-btn.u-helptip-btn-outer-disabled:hover{
	background: url("../images/helpTip/help_disable.png") no-repeat center;
	filter:none;
}
.unieap a.navigator-helptip-btn.u-helptip-btn-outer-disabled {
	filter:none;
	display:inline-block;
	width:16px;
	height:16px;
	background:url("../images/helpTip/help_disable.png") no-repeat center;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.navigator-helptip-btn:hover{
	background: url("../images/helpTip/help.png") no-repeat center;
	filter:none;
}
.unieap a.navigator-helptip-btn {
	filter:none;
	display:inline-block;
	width:16px;
	height:16px;
	background:url("../images/helpTip/help.png") no-repeat center;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.navigator-helptip-btn .u-form-btn-txt{
	display:none;
}


.unieap .u-helpTip-modalDivIE {
	background-color: #777;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=50) progid:DXImageTransform.Microsoft.Blur(pixelradius=6);
	overflow: hidden;
	position: absolute;
	display:none;
}

.unieap .u-helptip-bbtn-outer{
	margin-right:6px;
}

.unieap .u-helptip-nbtn-outer{
}

.unieap .u-helptip-nbtn{
	border: solid #B5B5B5 1px;
	background: url("../images/helpTip/btn_sprite.png") repeat-x scroll right top #E8E8E9;
	border-radius:3px;
	height:24px;
	display:inline-block;
}

.unieap .u-helptip-btn-back {
	background: transparent;
	height: 100%;
	white-space: normal;
	cursor: pointer;
	vertical-align: middle;
	border: none;
	width: 75px;
}

.unieap .u-helptip-btn-txt {
	width: auto;
}

.unieap a.u-helptip-index-link {
	display: block;
	text-decoration: none;
	color: #136eca;
	cursor: pointer;
	background-image: url("../images/helpTip/book.png");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 25px;
	margin: 5px;
}

/*
 * 在线帮助icon
 */
 .unieap .helpinfoTreeIcon {
	background-image: url('../images/tree/_tree_icon.png'); 
	width: 16px;
	height: 16px;
}
/*
 * 动态帮助icon
 */
 .unieap .helptipTreeIcon {
	background-image: url('../images/helpTip/book.png'); 
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_edit{
	background:url('../images/helpTip/edit.png') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_copy{
	background:url('../images/helpTip/copy.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_paste{
	background:url('../images/helpTip/paste.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_pasteDisabled{
	background:url('../images/helpTip/paste_disabled.png') no-repeat;
	width: 16px;
	height: 16px;
}

/*
 * 用例节点icon
 */
.unieap .helptip_ico_start{
	background:url('../images/helpTip/gooflow_icon.png') no-repeat -19px -20px;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_end{
	background:url('../images/helpTip/gooflow_icon.png') no-repeat -39px -20px;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_return{
	background:url('../images/helpTip/gooflow_icon.png') no-repeat -58px 1px;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_forward{
	background:url('../images/helpTip/gooflow_icon.png') no-repeat -78px 1px;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapAdvancedQuery{
	background:url('../images/helpTip/query.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapButton{
	background:url('../images/helpTip/button.gif') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_common{
	background:url('../images/helpTip/node.png') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_unieapCheckBox{
	background:url('../images/helpTip/checkBox.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapCheckBoxGroup{
	background:url('../images/helpTip/checkBoxGroup.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapComboBox{
	background:url('../images/helpTip/combo.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapComboBoxTree{
	background:url('../images/helpTip/combotree.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapComponent{
	background:url('../images/helpTip/ref.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapDateTextBox{
	background:url('../images/helpTip/date.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapFileInput{
	background:url('../images/helpTip/fileinput.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapGrid{
	background:url('../images/helpTip/grid.gif') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_unieapCell{
	background:url('../images/helpTip/cell.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapXCell{
	background:url('../images/helpTip/cell.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapInlineEditBox{
	background:url('../images/helpTip/inlineEditBox.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapMultilineTextBox{
	background:url('../images/helpTip/textarea.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapNumberTextBox{
	background:url('../images/helpTip/numberTextBox.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapProgressBar{
	background:url('../images/helpTip/progressBar.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapQuickSearch{
	background:url('../images/helpTip/quicksearch.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapRadioButton{
	background:url('../images/helpTip/radio.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapRadioButtonGroup{
	background:url('../images/helpTip/radioButtonGroup.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapTextarea{
	background:url('../images/helpTip/textarea.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapTextBox{
	background:url('../images/helpTip/textbox.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapTextBoxWithimg{
	background:url('../images/helpTip/textboxwithicon.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapTree{
	background:url('../images/helpTip/tree.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapXGrid{
	background:url('../images/helpTip/xgrid.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapZoneBox{
	background:url('../images/helpTip/combo.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapAdaptiveContainer{
	background:url('../images/helpTip/tab.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapBorderLayout{
	background:url('../images/helpTip/borderlayout.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapFieldSet{
	background:url('../images/helpTip/fieldset.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapForm{
	background:url('../images/helpTip/form.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapFormList{
	background:url('../images/helpTip/formList.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapHBoxContainer{
	background:url('../images/helpTip/hBoxContainer.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapStackContainer{
	background:url('../images/helpTip/stackContainer.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapTabContainer{
	background:url('../images/helpTip/tab.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_unieapTitlePane{
	background:url('../images/helpTip/titlePane.gif') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_unieapDialog{
	background:url('../images/helpTip/xdialog.png') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_unieapTextBoxWithIcon{
	background:url('../images/helpTip/textboxwithicon.gif') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_img{
	background:url('../images/helpTip/img.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_label{
	background:url('../images/helpTip/label.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_a{
	background:url('../images/helpTip/link.gif') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_table{
	background:url('../images/helpTip/table.gif') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_delete{
	background:url('../images/helpTip/delete.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_noref{
	background:url('../images/helpTip/no_pointer_node.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_down{
	background:url('../images/helpTip/down.png') no-repeat;
	width: 16px;
	height: 16px;
}
.unieap .helptip_ico_downDisabled{
	background:url('../images/helpTip/down_disable.png') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_up{
	background:url('../images/helpTip/up.png') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_upDisabled{
	background:url('../images/helpTip/up_disable.png') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .helptip_ico_helptipCase{
	background:url('../images/helpTip/helptipCase.gif') no-repeat;
	width: 16px;
	height: 16px;
}

.unieap .dijitHelptipContents{
	padding:0;
	border: 3px solid #FFFFFF;
	background-color:#eee;
	border-radius:5px;
	box-shadow:5px 5px 15px 7px #CCCCCC;
}

.unieap .u-helpTip-bgMarkIE {
	display:none;
	overflow: hidden;
	position: absolute;
	opacity:0;
	filter:Alpha(Opacity="0");
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
	padding-top: 0;
	padding-right: 0;
	margin: 0;
	background-color: #FFFFFF;
}

.unieap .dijitHelpTipTop {
	margin-bottom: 22px;
}
.unieap .dijitHelpTipTop .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat right -77px;
	bottom: -35px;
	width:38px;
	height:38px;
}

.unieap .dijitHelpTipBottom {
	margin-top: 30px;
}
.unieap .dijitHelpTipBottom .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat 0 bottom;
	top: -35px;
	width:38px;
	height:38px;
}


.unieap .dijitHelpTipRight {
	padding-left: 26px;
}
.unieap .dijitHelpTipRight .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat -4px -2px;
	left: 0px;
	width:30px;
	height:34px;
}
.unieap .dijitHelpTipLeft {
	margin-right: 16px;
}
.unieap .dijitHelpTipLeft .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat -6px -40px;
	right: -27px;
	width:30px;
	height:34px;
}


.unieap .dijitHelpTipTopLeft {
	margin-right: 16px;
}
.unieap .dijitHelpTipTopLeft .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat -6px -40px;
	right: -27px;
	bottom:0px;
	width:30px;
	height:34px;
}

.unieap .dijitHelpTipBottomLeft {
	margin-right: 16px;
}
.unieap .dijitHelpTipBottomLeft .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat -6px -40px;
	right: -27px;
	top:0px;
	width:30px;
	height:34px;
}
.unieap .dijitHelpTipTopRight {
	padding-left: 26px;
}
.unieap .dijitHelpTipTopRight .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat -4px -2px;
	left: 0px;
	top:0px;
	width:30px;
	height:34px;
}
.unieap .dijitHelpTipBottomRight {
	padding-left: 26px;
}
.unieap .dijitHelpTipBottomRight .dijitTooltipConnector {
	background:url("../images/helpTip/arrows_sprite.png") no-repeat -4px -2px;
	left: 0px;
	bottom:0px;
	width:30px;
	height:34px;
}