.layer {
border:1px solid #000;
border-top:0;
width:100%;
background-color:#eee
}

.layer ul {
list-style-type:circle;
white-space:nowrap;
margin:0 0 0 10px
}

.layer .tree {
margin:0 0 0 -10px
}

.layer li {
margin-left:10px;
padding-top:0;
list-style-type:none;
white-space:nowrap
}

.layer .bullet {
cursor:pointer;
padding-left:10px
}

.layer .plus {
	background:url(../images/others-1.png) no-repeat;
	background-position: -98px -126px;

padding-left:10px
}

.layer .minus {
	background:url(../images/others-1.png) no-repeat;
	background-position: -118px -126px;
	padding-left:10px
}

.layer .basic {
padding-left:10px;
width:16px;
height:16px;
background-repeat:no-repeat;
background-position:center left
}

.layer .function {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -141px -126px;
}

.layer .array {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -27px -140px;
}

.layer .object {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -47px -140px;
}

.layer .text {
font:12px monospace;
padding:2px 0 2px 2px
}

.layer .string,.layer .number,.layer .null,.layer .boolean {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -160px -126px;
}
#evalInput{
	margin-top:0px;
	margin-bottom:5px;
	width:300px;
}
.btn{
	font-size:12px;
	background: #eee url("../images/x-1.png") repeat-x ;
	background-position: 0px -510px;
	width:50px;
	height : 23px;
}
