.unieap .u-form-slider-x{
	height: 15px;
}

.unieap .u-form-slider-x .u-form-slider-leftcap{
	width: 7px;
	height: 15px;
	background: url(../images/form-1.png);
	background-position: -287px -26px;
}

.unieap .u-form-slider-x .u-form-slider-rightcap{
	width: 7px;
	height: 15px;
	background: url(../images/form-1.png);
	background-position: -295px -26px;
}

.unieap .u-form-slider-x .u-form-slider-rail{
	height: 15px;
	background: url(../images/x-1.png) repeat-x;
	background-position: 0 -20px;
	left: 7px;
}

.unieap .u-form-slider-x .u-form-slider-progress{
	height: 15px;
	background: url(../images/x-1.png) repeat-x;
	background-position: 0px 0px;
}

.unieap .u-form-slider-x .u-form-slider-thumb{
	width: 14px;
	height: 15px;
	background: url(../images/form-1.png) no-repeat;
	background-position: -79px -9px;	
}

.unieap .u-form-slider-y{
	width: 15px;
}

.unieap .u-form-slider-y .u-form-slider-leftcap{
	width: 15px;
	height: 7px;
	background: url(../images/form-1.png) no-repeat;
	background-position: -303px -26px;
}

.unieap .u-form-slider-y .u-form-slider-rightcap{
	width: 15px;
	height: 7px;
	background-image: url(../images/form-1.png);
	background-position: -314px -26px;
}

.unieap .u-form-slider-y .u-form-slider-rail{
	width: 15px;
	background: url(../images/y-1.png) repeat-y;
	background-position: -20px 0px;
	top: 7px;
}

.unieap .u-form-slider-y .u-form-slider-progress{
	width: 15px;
	background: url(../images/y-1.png) repeat-y;
	background-position: 0px 0px;
}

.unieap .u-form-slider-y .u-form-slider-thumb{
	width: 15px;
	height: 14px;
	background: url(../images/form-1.png) no-repeat;
	background-position: -233px -9px;	
}

.unieap .u-form-slider-x .u-form-slider-disabled .u-form-slider-leftcap,
.unieap .u-form-slider-x .u-form-slider-disabled .u-form-slider-progress,
.unieap .u-form-slider-x .u-form-slider-disabled .u-form-slider-rightcap{
	background-image: url(../images/x-1.png);
	background-position: 0px -40px;	
}

.unieap .u-form-slider-x .u-form-slider-disabled .u-form-slider-thumb {
	width: 14px;
	height: 15px;
	background: url(../images/form-1.png) no-repeat;
	background-position: -124px -9px;	
}

.unieap .u-form-slider-y .u-form-slider-disabled .u-form-slider-leftcap,
.unieap .u-form-slider-y .u-form-slider-disabled .u-form-slider-progress,
.unieap .u-form-slider-y .u-form-slider-disabled .u-form-slider-rightcap{
	background-image: url(../images/y-1.png);
	background-position: -40px 0px;	
}

.unieap .u-form-slider-y .u-form-slider-disabled .u-form-slider-thumb{
	width: 15px;
	height: 14px;
	background: url(../images/form-1.png) no-repeat;
	background-position: -281px -9px;	
}