.unieap .dijitOpen .u-form-fieldset-btn {
	background: transparent
		url("../images/form-1.png") no-repeat;
		background-position: -169px -9px;
		border-width: 1px 1px 1px 1px;
}

.unieap .dijitOpen .u-form-fieldset-mouseover .u-form-fieldset-btn {
	background: transparent
		url("../images/form-1.png") no-repeat;
		background-position: -185px -9px;
		border-width: 1px 1px 1px 1px;
}

.unieap .dijitClosed .u-form-fieldset-btn {
	background: transparent
		url("../images/form-1.png") no-repeat;
		background-position: -201px -9px;
		border-width: 1px 0px 0px 0px;
}

.unieap .dijitClosed .u-form-fieldset-mouseover .u-form-fieldset-btn {
	background: transparent
		url("../images/form-1.png") no-repeat;
		background-position: -217px -9px;
		border-width: 1px 0px 0px 0px;
}

.unieap .u-form-fieldset legend {
	padding-top: 1px;
	color: #000;
	font-size: 12px;
}