.unieap .u-combobox-item .match {
	color: #aa5cf8;
}

.unieap .u-combobox-list-header {
	background: url(../images/x-1.png) repeat-x;
	background-position: 0px -230px;
	color: #000;
}

.unieap .u-combobox-list-header table th {
	background: url(../images/x-1.png) repeat-x;
	background-position: 0px -230px;
	color: #000;
	font-weight: normal;
	font-size: 14px;
}

.unieap .u-combobox-items-container table {
	background-color: #f7f7f7;
}

.unieap .u-combobox-items-container table td {
	font: 12px verdana;
}

.unieap .u-combobox-items-container .u-comobobox-item-hover {
	background-color: #d1dfeb;
}

.unieap .u-combobox-popup-open-border {
	overflow: auto !important;
	border: 1px solid #7f9db9;
}