.unieap .u-calendar-icon{
  background:url(../images/form-1.png) no-repeat;
  background-position: -124px -73px;  
}

.unieap .u-calendar-disabled{
	background: #e6e7d5 url("../images/form-1.png") no-repeat;
	background-position: -141px -73px;   
}

/* Distributed as part of The Coolest DHTML Calendar
   Author: Mihai Bazon, www.bazon.net/mishoo
   Copyright Dynarch.com 2005, www.dynarch.com
*/

/* The main calendar widget.  DIV containing a table. */
div.calendar { position: relative; }
.calendar, .calendar table {
  font-size: 11px;
  color: #000;
  background-color:#FFFFFF;
  font-family: "trebuchet ms",verdana,tahoma,sans-serif;
}

.calendar {
  border-color: #8da3c1;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
	background: url(../images/x-1.png) repeat-x;  color: #000;
	background-position: 0px -140px;
  font-weight: normal;
}

.calendar .nav {
  font-family: verdana,tahoma,sans-serif;
}

.calendar .nav div {
	
 /*
  background: transparent url("../images/form/calendar/menuarrow.gif") no-repeat 100% 100%;
  */	
}

.calendar thead tr { color: #000; background-color:#f4f4f4; }

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  background: url("../images/x-1.png") repeat-x; color: #fff;
  background-position: 0px -110px; 
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #e48100;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
	background: url(../images/x-1.png) repeat-x;
	background-position: 0px -170px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  color: #000;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background-color:#f4f4f4;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  font-family: verdana,tahoma,sans-serif;
  color: #000;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #999;
}
.calendar tbody .day.othermonth.oweekend {
  color: #f99;
}

.calendar table .wn {
  background-color:#f4f4f4;
}

.calendar tbody .rowhilite td,
.calendar tbody .rowhilite td.wn {
	  background: url("../images/x-1.png");
  	  background-position: 0px -1600px; 
}

.calendar tbody td.tdtoday { font-weight: bold; /* background: url("today-bg.gif") no-repeat 70% 50%; */ }


.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #e48100;
}

.calendar tbody td.selected { /* Cell showing selected date */
  /*font-weight: bold;
   background: url("../images/form/calendar/active-bg.gif"); color: #000;
  */
  	background: url("../images/x-1.png"); color: #000;
  	background-position: 0px -60px;
}

.calendar tbody .disabled { color: #999; }


/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  background: #565;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  	background: url(../images/x-1.png) repeat-x;color: #000;
	background-position: 0px -140px; 
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #afa;
  color: #000;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #7c7;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  color: #000;
  font-size: 90%; 
  background-color:#f4f4f4;
}

.calendar .combo .hilite {
  color: #000000;
  background-color:#d0d0d0;
}

.calendar .combo .active {
  	background: url("../images/x-1.png"); color: #000;
  	background-position: 0px -60px;
}

.calendar td.time {
  background: url("../images/x-1.png"); color: #000;
  background-position: 0px -600px;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  font-weight: bold;
  width: 25px;
  background: url("../images/form-1.png"); color: #000;
  background-position: -52px -9px;
}

.calendar td.time .hour,
.calendar td.time .minute {
  font-family: monospace;
}

.calendar td.time .colon {
  font-weight: bold;
}

.calendar td.time span.hilite {
  /*background: url("../images/form/calendar/hover-bg.gif"); color: #000;*/
}

.calendar td.time span.active {
  	background: url("../images/x-1.png"); color: #fff;
  	background-position: 0px -60px;
}
.calendar thead .closeactive { /* Active (pressed) buttons in header */
  background: url("../images/form-1.png");
  background-position: -132px -26px;   
}
.calendar thead .closehilite { /* How do the buttons in header appear when hover */
  background: url("../images/form-1.png");
  background-position: -132px -26px;   
}
.calendar .close { 
  background: url("../images/form-1.png");
  background-position: -101px -26px;   
  font-weight: bold;
}
/*ǰһ�갴ť����ʽ*/
.calendar thead .preyearactive { /* Active (pressed) buttons in header */
  background: url("../images/form-1.png");
  background-position: -93px -50px; 
}
.calendar thead .preyearhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form-1.png");
  background-position: -93px -50px; 
}
.calendar .preyear { 
  background: url("../images/form-1.png");
  background-position: -62px -50px; 
  font-weight: bold;
}
/*ǰһ�°�ť����ʽ*/
.calendar thead .premonthactive { /* Active (pressed) buttons in header */
  background: url("../images/form-1.png");
  background-position: -31px -50px; 
}
.calendar thead .premonthhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form-1.png");
  background-position: -31px -50px; 
}
.calendar .premonth { 
  background: url("../images/form-1.png");
  background-position: 0px -50px; 
  font-weight: bold;
}
/*��һ�°�ť����ʽ*/
.calendar thead .nextmonthactive { /* Active (pressed) buttons in header */
  background: url("../images/form-1.png");
  background-position: -194px -26px; 
}
.calendar thead .nextmonthhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form-1.png");
  background-position: -194px -26px; 
}
.calendar .nextmonth { 
  background: url("../images/form-1.png");
  background-position: -163px -26px; 
  font-weight: bold;
}
/*��һ�갴ť����ʽ*/
.calendar thead .nextyearactive { /* Active (pressed) buttons in header */
  background: url("../images/form-1.png");
  background-position: -256px -26px; 
}
.calendar thead .nextyearhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form-1.png");
  background-position: -256px -26px; 
}
.calendar .nextyear { 
  background: url("../images/form-1.png");
  background-position: -225px -26px; 
  font-weight: bold;
}
/*���찴ť����ʽ*/
.calendar thead .todayactive { /* Active (pressed) buttons in header */
  background: url("../images/form-1.png");
  background-position: 0px -73px; 
}
.calendar thead .todayhilite { /* How do the buttons in header appear when hover */
  background: url("../images/form-1.png");
  background-position: 0px -73px; 
}
.calendar .today { 
  background: url("../images/form-1.png");
  background-position: -138px -50px; 
  font-weight: bold;
}



.unieap .nextTenYear{
    background: url("../images/form/calendar/nextTenYear-bg-hover.png");
   font-weight: bold;
}

.unieap .preTenYear{
    background: url("../images/form/calendar/preTenYear-bg-hover.png");
   font-weight: bold;
}