.unieap .u-grid-detail-plus{
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -120px -70px;
}
.unieap .u-grid-detail-minus{
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -140px -70px;
}

