.unieap .u-grid-header  .u-grid-cell .u-grid-menu{
	 background:transparent url(../images/grid-1.png) no-repeat;
	 background-position: -3px -26px;	
}



.unieap .u-gird-menu-filtericon{
	 background:transparent url(../images/grid-1.png) no-repeat;
	 background-position: -88px -9px;	
}

.u-grid-filter-body{
	background-color:#eee;
}

.unieap .u-grid-filter{
	text-align:center;
}
.unieap .u-grid-filter-table{
	margin:10px auto 10px auto;
	width:320px;
	border:1px #d1d1d1 solid;
}
.unieap .u-grid-filter-table select{
	height:21px;
	width:100%;
	font-size:12px;
}
.unieap .u-grid-filter-table .u-menu-item-separator{
	background-color:#d1d1d1;
}

.unieap .u-grid-filter-table .u-grid-filter-cancel {
	width:20px;
	height:20px;
	 background:transparent url(../images/grid-1.png) no-repeat center center;
	 background-position: -431px -0px;
}

.unieap .u-grid-filter-table .u-grid-filter-ok {
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -431px -16px;	
}

.unieap .u-grid-filter-table .u-grid-filter-del{
	width:16px;
	height:16px;
	 background:transparent url(../images/grid-1.png) no-repeat center center;
	 background-position: 0px -9px;	 
}
