/**
 * 分组功能
 */
.unieap .u-grid-group{
	border-bottom: solid 1px #7f9db9;
}
.unieap .u-grid-group-minus{
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -140px -70px;
}
.unieap .u-grid-group-plus{
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -120px -70px;
}
.unieap .u-grid-group-font{
	font: bold 11px tahoma,arial,helvetica,sans-serif;
	color: #7f9db9;
}
.unieap .u-grid-group-node{
	background-color:#fff;
}


.unieap .u-grid-group-btnNormal{
     background:url(../images/grid-1.png) no-repeat;
	 background-position: -88px -26px;	
}
.unieap .u-grid-group-dragProxy{
	border: 1px dashed #000;
	background: #eee;
}
.unieap .u-grid-group-arrow{
	border: 1px boder #000;
}
.unieap .u-grid-group-arrow-top{
	background: url(../images/grid-1.png) no-repeat;
	background-position: -217px -9px; 
}
.unieap .u-grid-group-arrow-bottom{
	background: url(../images/grid-1.png) no-repeat;
	background-position: -207px -9px; 
}
.unieap .u-grid-group-cell{
	background: url("../images/x-1.png")  #ebebeb repeat-x ;
	background-position: 0px -300px;
	border: 1px solid #d1d2d2;
}

.unieap .u-grid-group-cellremove{
	background: url(../images/grid-1.png) no-repeat;
	background-position: 0px 0px; 
}
.unieap .u-grid-group-sep{
	background: url(../images/grid-1.png) no-repeat;
	background-position: -280px -70px; 
}