/**
 * 定义grid的toolbar的样式
 */ 
 
.u-grid-master-toolbar {
    border: 1px solid #dadada;
    border-top: 0 solid #B4B4B4;
     background:url(../images/x-1.png) repeat-x;
	 background-position: 0px -1550px;	
}


/**
 * 第一页
 */ 
 
.u-grid-master-toolbar .u-grid-page .u-grid-page-first {
     background:url(../images/grid-1.png) no-repeat;
	 background-position: 1px -70px;	
} 

.u-grid-master-toolbar .u-grid-page .u-grid-page-first-disabled {
     background:url(../images/grid-1.png) no-repeat;
	 background-position: -12px -70px;	
	 cursor: default;
}

/**
 * 上一页
 */ 
 
.u-grid-master-toolbar .u-grid-page .u-grid-page-prev {
     background:url(../images/grid-1.png) no-repeat;
	 background-position: -84px -70px;	
} 

.u-grid-master-toolbar .u-grid-page .u-grid-page-prev-disabled {
     background:url(../images/grid-1.png) no-repeat;
	 background-position: -96px -70px;	
	 cursor: default;
}

/**
 * 下一页
 */ .u-grid-master-toolbar .u-grid-page .u-grid-page-next {
     background:url(../images/grid-1.png) no-repeat;
	 background-position: -60px -70px;	
}
.u-grid-master-toolbar .u-grid-page .u-grid-page-next-disabled {
     background:url(../images/grid-1.png) no-repeat;
	 background-position: -72px -70px;	
	 cursor: default;
}

/**
 * 最后一页
 */ 
 
.u-grid-master-toolbar .u-grid-page .u-grid-page-last {
     background:url(../images/grid-1.png) no-repeat;
	 background-position: -25px -70px;	
} 
.u-grid-master-toolbar .u-grid-page .u-grid-page-last-disabled {
     background:url(../images/grid-1.png) no-repeat;
	 background-position: -39px -70px;	
	 cursor: default;
} 




/**
 * 客户端导出
 */
.unieap .export-c {
    background: #eee url(../images/grid-1.png) no-repeat center;
    background-position: -17px -9px;	 
} 

/**
 * 服务端导出
 */
.unieap .export-s {
    background: #eee url(../images/grid-1.png) no-repeat center;
    background-position: -49px -9px;
} 

/**
 * 导出选中记录
 */
.unieap .export-checked {
	background: #eee url(../images/grid-1.png) no-repeat center;
    background-position: -33px -9px;	
} 

/**
 * 默认客户端导出
 */
.unieap .default-export-c {
    background: #eee url(../images/grid-1.png) no-repeat center;
    background-position: -17px -9px;	
} 
/**
 * 默认服务端导出
 */
.unieap .default-export-s {
    background: #eee url(../images/grid-1.png) no-repeat center;
    background-position: -49px -9px;
}

.unieap .default-export-checked {
	background: #eee url(../images/grid-1.png) no-repeat center;
    background-position: -33px -9px;
} 

/**
 * 分隔符
 */
.unieap .sep {
     background: #eee url(../images/grid-1.png) no-repeat;
	 background-position: -60px -26px;	
} 

/**
 * 打印
 */
.unieap .u-grid-print {
     background: #eee url(../images/grid-1.png) no-repeat;
	 background-position: -63px -26px;	
	
}



/**
*个性化
*/



.unieap .individual{
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -385px -9px;
}
.unieap .individual-reset{
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -369px -9px;
}
.unieap .default-individual {
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -385px -9px;
} 