/*-------Container-------*/
.unieap .tabContainer {
}

.unieap .tabContainer-nest {
}
.unieap .tab-scrolling-container {
}
.unieap .tab-scrolling {
}
.unieap .tabPaneWrapper {
	background: #fff;
}

.tabSpacer {
	font-size: 1px;
}
.unieap .tab {
}

.unieap .tabChecked {
	background-color: #fff;
	border-color: #ccc;
	color: #15428B !important;
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.unieap .tab .unieapClosable .closeImage {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -15px -43px;
}

/*Tab a标签*/
.unieap a.u-a-tab {
	color: #000;
}

.unieap a:hover .u-a-tab {
	color: inherit;
	border: 1px solid #ccc;
}

.unieap .tab-scrolling-container .tabward {
}
.unieap .tab-scrolling-container .eapMenu {
	background-color: white;
	/*TODO*/
}

/*------- top -------*/
.unieap .tabContainerTop .tab-scrolling-containerTop {
	background-color: #d3e0f2;
}

.unieap .tabContainerTop .tabPaneWrapperTop {
}

.unieap .tabContainerTop-tabs .tab {
	background: #e2e2e2 url("../images/x-1.png") repeat-x ;
	background-position: 0px -570px;
}

.unieap .tabContainerTop-tabs .tabChecked {
	background: #fff url("../images/x-1.png") repeat-x ;
	background-position: 0px -720px;
}

.unieap a:hover .u-a-tabTop {
	background:  #e2e2e2 url("../images/x-1.png") repeat-x ;
	background-position: 0px -630px;
}

.unieap .tabContainerTop .eapLeftTop {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -96px -93px;
}

.unieap .tabContainerTop .eapRightTop {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -134px -93px;
}

.unieap .tabContainerTop .eapMenuTop {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -115px -93px;
}
.dj_ie6 .unieap .tabContainerTop .eapMenuTop,.dj_ie6 .unieap .tabContainerTop .eapRightTop
	{
}

.unieap .tabContainerTop .tabSpacerTop,.unieap .tabContainerBottom .tabSpacerBottom
	{
}
.unieap .tabContainerTop-tabs .tab,.unieap .tabContainerBottom-tabs .tab
	{
}
.unieap .tabContainerBottom-tabs .tabInnerDiv,.unieap .tabContainerTop-tabs .tabInnerDiv
	{
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 12px;
}
/*解决IE6下，存在关闭图片时，tab button向下串位*/
.dj_ie6 .unieap .tabContainerBottom-tabs .unieapClosable,.dj_ie6 .unieap .tabContainerTop-tabs .unieapClosable
	{
}

.unieap .tabContainerTop-tabs .tab .unieapClosable .closeImage,.unieap .tabContainerBottom-tabs .tab .unieapClosable .closeImage
	{
}
/*------- bottom -------*/
.unieap .tabContainerBottom .tab-scrolling-containerBottom {
	background-color: #d3e0f2;
}

.unieap .tabContainerBottom .tabPaneWrapperBottom {
}
.unieap .tabContainerBottom-tabs .tab {
	background: #e2e2e2 url("../images/x-1.png") repeat-x ;
	background-position: 0px -540px;
}

.unieap .tabContainerBottom-tabs .tabChecked {
	background: url("../images/x-1.png") repeat-x ;
	background-position: 0px -690px;
}

.unieap a:hover .u-a-tabBottom {
	background: #e2e2e2 url("../images/x-1.png") repeat-x ;
	background-position: 0px -600px;
}

.unieap .tabContainerBottom .eapLeftBottom {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -81px -60px;
}

.unieap .tabContainerBottom .eapRightBottom {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -119px -60px;
}

.unieap .tabContainerBottom .eapMenuBottom {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -100px -60px;
}

.dj_ie6 .unieap .tabContainerBottom .eapMenuBottom,.dj_ie6 .unieap .tabContainerBottom .eapRightBottom
	{
}
/*------- left -------*/
.unieap .tabContainerLeft .tab-scrolling-containerLeft {
	background-color: #d3e0f2;
}

.unieap .tabContainerLeft .tabPaneWrapperLeft {
}
.unieap .tabContainerLeft .tabSpacerLeft {
}
.unieap .tabContainerLeft-tabs .tab {
	background: #e2e2e2 url("../images/y-1.png") repeat-y ;
	background-position: -170px 0px;
}

.unieap .tabContainerLeft-tabs .tabChecked {
	background: #fff url("../images/y-1.png") repeat-y ;
	background-position: -290px 0px;
}

.unieap a:hover .u-a-tabLeft {
	background: #e2e2e2 url("../images/y-1.png") repeat-y ;
	background-position: -230px 0px;
}

.unieap .tabContainerLeft  .eapUpLeft {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: 0px -93px;
}

.unieap .tabContainerLeft .eapDownLeft {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -138px -60px;
}

.unieap .tabContainerLeft .eapMenuLeft {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -162px -60px;
}

/*调整tab Button之间的margin*/
.unieap .tabContainerLeft-tabs .tab,.unieap .tabContainerRight-tabs .tab
	{
}

.unieap .tabContainerLeft-tabs .tabInnerDiv,.unieap .tabContainerRight-tabs .tabInnerDiv
	{
}
.unieap .tabContainerLeft-tabs .tabInnerDiv .tabLabel,.unieap .tabContainerRight-tabs .tabInnerDiv .tabLabel
{
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 12px;
}

.unieap .tabContainerLeft-tabs .tab .unieapClosable .closeImage,.unieap .tabContainerRight-tabs .tab .unieapClosable .closeImage
	{
}
/*------- right -------*/
.unieap .tabContainerRight .tab-scrolling-containerRight {
	background-color: #d3e0f2;
}

.unieap .tabContainerRight .tabPaneWrapperRight {
}
.unieap .tabContainerRight .tabSpacerRight {
}
.unieap .tabContainerRight-tabs .tab {
	background: #e2e2e2 url("../images/y-1.png") repeat-y ;
	background-position: -200px 0px;
}

.unieap .tabContainerRight-tabs .tabChecked {
	background: #fff url("../images/y-1.png") repeat-y ;
	background-position: -320px 0px;
}

.unieap a:hover .u-a-tabRight {
	background: #e2e2e2 url("../images/y-1.png") repeat-y ;
	background-position: -260px 0px;
}

.unieap .tabContainerRight  .eapUpRight {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -72px -93px;
}

.unieap .tabContainerRight .eapDownRight {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -24px -93px;
}

.unieap .tabContainerRight .eapMenuRight {
	 background:url(../images/others-1.png) no-repeat;
	 background-position: -48px -93px;
}
.unieapHidden {
}
.unieapVisible {
}