/* DnD avatar-specific settings */
.dojoDndAvatar {
	font-size: 75%;
	color: black;
}

.dojoDndAvatarHeader {
	background: #ccc;
}

.dojoDndAvatarItem {
	background: #eee;
}

.dojoDndMove .dojoDndAvatarHeader {
	background-image: url('../images/tree-dialog-menu-1.png');
	background-position: -260px -26px;
}

.dojoDndCopy .dojoDndAvatarHeader {
	background-image: url('../images/tree-dialog-menu-1.png');
	background-position: -161px -9px;
}

.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
	background-image: url('../images/tree-dialog-menu-1.png');
	background-position: -300px -26px;
}

.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
	background-image: url('../images/tree-dialog-menu-1.png');
	background-position: -127px -9px;
}