.unieap .u-xgrid {
	position: relative;
}

.unieap .u-xgrid-headers {
	position: relative;
	overflow: hidden;
}

.unieap .u-xgrid-header {
	height: 100%;
	position: absolute;
	top: 0;
	background: #ebecee url("../images/x-1.png") repeat-x ;
	background-position: 0px -1600px; 
}

.unieap .u-xgrid-headerContent {
	height: 100%;
	overflow: hidden;
	position: relative;
}

.unieap .u-xgrid-views {
	position: relative;
	overflow: hidden;
}

.unieap .u-xgrid-view {
	position: absolute;
	top: 0;
}

.unieap .u-xgrid-viewContent {
	overflow: hidden;
	position: relative;
}
.unieap .u-xgrid-scrollContent {
	overflow: hidden;
	position: relative;
}
.unieap .u-xgrid-yscroller {
	z-index: 1;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: 17px;
	display: none;
	background: url("../images/y-1.png") repeat-y ;
	background-position: -100px 0px;
}

.unieap .y-scroller-up {
	position: absolute;
	top: 0;
	right: 1px;
	width: 16px;
	height: 16px;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -217px -26px;	
}

.unieap .y-scroller-down {
	position: absolute;
	bottom: 0px;
	right: 1px;
	width: 16px;
	height: 16px;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -217px -42px;	
}

.unieap .y-scroller-handle {
	position: absolute;
	top: 16px;
	width: 17px;
	right: 0px!important;
	right: 0.5px;
	height: 16px;
	background: url("../images/y-1.png") repeat-y ;
	background-position: -70px 0px;
}

.unieap .y-scroller-handle-top {
	width: 17px;
	height: 3px;
	top: 0;
	overflow: hidden;
	position: absolute;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -249px -26px;	
}

.unieap .y-scroller-handle-middle {
	width: 17px;
	height: 9px;
	top: 50%;
	overflow: hidden;
	margin-top: -4.5px;
	position: absolute;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -281px -26px;	
}

.unieap .y-scroller-handle-bottom {
	width: 17px;
	height: 3px;
	overflow: hidden;
	bottom: 0;
	position: absolute;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -249px -54px;	
}

.unieap .u-xgrid-xscroller {
	z-index: 1;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 17px;
	background: url("../images/x-1.png") repeat-x ;
	background-position: 0px -1500px;
	}

.unieap .x-scroller-up {
	position: absolute;
	left: 0;
	bottom: 1px!important;
	bottom: 0.5px;
	width: 16px;
	height: 16px;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -110px -25px;	
}

.unieap .x-scroller-down {
	position: absolute;
	right: 0;
	bottom: 1px!important;
	bottom: 0.5px;
	width: 16px;
	height: 16px;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -126px -25px;	
}

.unieap .x-scroller-handle {
	position: absolute;
	left: 16px;
	width: 16px;
	height: 17px;
	background: url("../images/x-1.png") repeat-x ;
	background-position: 0px -450px;
}

.unieap .x-scroller-handle-east {
	width: 3px;
	height: 15px;
	right: 0;
	bottom: 1px!important;
	bottom: 0.5px;
	position: absolute;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -170px -26px;	
}

.unieap .x-scroller-handle-middle {
	width: 9px;
	height: 15px;
	left: 50%;
	bottom: 1px!important;
	bottom: 0px;
	margin-left: -4.5px;
	position: absolute;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -174px -26px;	
}

.unieap .x-scroller-handle-west {
	width: 3px;
	height: 15px;
	bottom: 1px!important;
	bottom: 0.5px;
	left: 0;
	position: absolute;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -142px -26px;	
}

.unieap .u-xgrid-table {
	table-layout: fixed;
	
}

.unieap .u-xgrid-cell {
	height: 20px;
	line-height: 21px;
	text-indent: 5px;
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	font-size: 12px;
    font-weight: normal;
    /*cell前面有5px的text-indent，后面有1px的border，加上4px的padding-right才能正居中，并且number类型数据右对齐紧挨着边线也需要padding*/
    padding-right: 4px;/*  */
}

.unieap .u-xgrid-hcell {
	height: 20px;
	/*line-height: 21px;*/
	line-height:20px;
	text-indent: 5px;
	font-size:13px;
	font-weight: normal;
	border-bottom: 1px solid #dadada;
	border-right: 1px solid #dadada;
	background: #EBECEE url("../images/x-1.png") repeat-x ;
	background-position: 0px -1600px; 
}

.unieap .u-xgrid-htext{
	font-size:12px;
	white-space: nowrap;
	overflow:hidden;
	position:relative;
}

.unieap .u-xgrid-text{
}

/**
*定义主排序的样式
*/
.unieap .u-xgrid-sort-primary{
	background: #D2DCEA url("../images/x-1.png") repeat-x 0px -410px !important ;
	border-bottom-color:#d2dcea;
}
/**
*定义主排序的升序样式
*/
.unieap .u-xgrid-sort-primary .u-xgrid-sort-up{
	 background:transparent url(../images/grid-1.png) no-repeat;
	 background-position: -337px -30px;	 
	 padding-right:4px;
	 cursor:default;
	 position:absolute;
	 left:50%;
	 margin-left: -6.5px;
	 top:-5px;
}
/**
*定义主排序的降序样式
*/
.unieap .u-xgrid-sort-primary .u-xgrid-sort-down{
	 background:transparent url(../images/grid-1.png) no-repeat;
	 background-position: -351px -30px;	 
	 padding-right:4px;
	 position:absolute;
	 left:50%;
	 margin-left: -6.5px;
	 top:-5px;
}
/**
*定义次排序的样式
*/
.unieap .u-xgrid-sort-secondary{
	
}
/**
*定义次排序的升序样式和定义次排序的降序样式
*/
.unieap .u-xgrid-sort-secondary .u-xgrid-sort-up , .u-xgrid-sort-down{
     background:transparent url(../images/grid-1.png) no-repeat;
	 background-position: -365px -30px;	 
	 padding-right:4px;
	 position:absolute;
	 left:50%;
	 /*top:-10px;
	 */
}

.unieap .u-xgrid-odd {
	background-color: #f8f8f8;
}

.unieap .u-xgrid-even {
}

.unieap .u-xgrid-row-over{
	background-color: #efefef;
}

.header-corner {
	width: 17px;
	background-color: #eee;
	right: 0;
	position: absolute;
}

.content-corner {
	width: 17px;
	height: 17px;
	background-color: #eee;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

.unieap .u-xgrid-rowbar-table {
	table-layout: fixed;
	position: absolute;
	border-right: 1px solid #dadada;
}

.unieap .u-xgrid-rowbar-table tr {
	background: #ebecee url("../images/x-1.png") repeat-x ;
	background-position: 0px -1600px;
}

.unieap .u-xgrid-rowbar {
	height: 20px;
	line-height: 21px;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: 1px solid #dadada;
	font-size: 12px;
    font-weight: normal;
    text-align:center;
}

.unieap .u-xgrid-rowbar-cell{
	font-size:12px;
	padding : 0px;
}

.unieap .u-xgrid-rowbar-choice{
	height: 20px;
	line-height: 21px;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: 1px solid #dadada;
	font-size: 12px;
    font-weight: normal;
    text-align:center;
}

/**
*xgrid改变列宽时出现拖动条
*/
.unieap .u-xgrid-resize-proxy{
	overflow : hidden;
	width : 3px;
	height : 100%;
	border-left : 1px solid #000000;
	font-size : 1px;
	position : absolute;
	top : 0px;
	left : 5px;
	display : none;	
	z-Index : 5;
}


.unieap .u-xgrid-adjust-proxy{
	position: absolute;
	padding-left: 23px;
	padding-right: 5px;
	height: 25px;
	line-height: 25px;
	z-index: 6;
	top: 5px;
	border: 1px solid #E1E1E1;
	background: #F7F7F7 url(../images/grid-1.png) no-repeat;
	background-position: -104px -9px;
	-moz-box-shadow: 2px 2px 2px #333333;
	-webkit-box-shadow: 2px 2px 2px #333333;
	
}

.unieap .u-xgrid-adjust-yes{
	background: #F7F7F7 url(../images/grid-1.png) no-repeat;
	background-position: -121px -9px;
}

.unieap .move-top{
	position: absolute;
	left: 150px;
	bottom: 21px;
	width: 9px;
	top: -5px;
	height: 9px;
	overflow: hidden;
	margin-left: -5px;
	z-index: 8;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -217px -9px;
}

.unieap .move-bottom{
	position: absolute;
	left: 150px;
	bottom: -9px;
	width: 9px;
	height: 9px;
	top: 20px;
	overflow: hidden;
	margin-left: -5px;
	z-index: 8;
	 background:url(../images/grid-1.png) no-repeat;
	 background-position: -207px -9px;
}

.unieap .locked-splitter{
	border-right: 1px solid #000;
	z-index: 1;
}

.unieap .row-locked-splitter{
	border-top: 1px solid #000;
}

.unieap .xgrid-table-layout{
	position: absolute;
}

.unieap .u-xgrid-focus{
	background: url("../images/x-1.png") repeat-x #D2DCEA 0px -410px !important ;
}

.unieap .u-xgrid-menu{
	background : url(../images/xgrid/grid-header-dropbtn.gif) 0 50%;
    right: 0px;
    top: 0px;
    width: 14px;
    height: 20px;
    visibility: hidden;
    position: absolute;
	display: block;
}

.unieap .u-xgird-menu-lockcell{
	 background:transparent url(../images/grid-1.png) no-repeat;
	 background-position: -200px -70px;
}

.unieap .u-xgird-menu-lockcellDisabled{
	 background:transparent url(../images/grid-1.png) no-repeat;
	 background-position: -200px -70px;
	filter:alpha(opacity=50);
	opacity : 0.5;/*FF兼容*/  
}

.unieap .u-xgird-menu-unlockcell{
	 background:url(../images/grid-1.png);
	 background-position: -250px -70px;
}

.unieap .u-xgird-menu-unlockcellDisabled{
	 background:url(../images/grid-1.png);
	 background-position: -250px -70px;
	filter:alpha(opacity=50);
	opacity : 0.5;/*FF兼容*/ 
}

.unieap .u-xgird-menu-columns{
	 background:transparent url(../images/grid-1.png);
	 background-position: -150px -9px;
}

.unieap .u-xgird-menu-unchecked{
	 background:transparent url(../images/grid-1.png) no-repeat;
	 background-position: -220px -70px;
}

.unieap .u-xgird-menu-checked{
	background-image:url(../images/grid-1.png) no-repeat;
	 background-position: -170px -70px;
}

.unieap .u-xgird-menu-checkedDisabled{
	background-image:url(../images/grid-1.png) no-repeat;
	 background-position: -170px -70px;
	filter:alpha(opacity=50);
	opacity : 0.5;/*FF兼容*/ 
}

.unieap .u-xgrid-row-current {
	background-color: #efefef;
}
.unieap .u-xgrid-row-highlight {
	background-color: #efefef;
}

.unieap .u-xgrid-row-selected {
	/** 当xgrid有选则模块时，背景颜色优先级应该提高 **/
	background-color:#e2e8f1 !important;
}

/**
 * 编辑
 */
.unieap .u-xgrid-value-changed{
		width:4px;
		height:4px;
		background: url(../images/grid-1.png) no-repeat;
		background-position: -9px 0px;
}
