@CHARSET "UTF-8";
.unieap .imageviewer-wrapper {
	position: absolute;
	border: 1px solid black;
	overflow: hidden;
}

.unieap .imageviewer-image {
	position: absolute;
}

.unieap .imageviewer-image-rotate90 {
	transform: rotate(90deg);
	transform-origin:50% 50%;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin:50% 50%;
	-moz-transform: rotate(90deg);
	-moz-transform-origin:50% 50%;
	-ms-transform: rotate(90deg);
	-ms-transform-origin:50% 50%;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=-1, M21=1, M22=0, SizingMethod="auto expand");
}

.unieap .imageviewer-image-rotate180 {
	transform: rotate(180deg);
	transform-origin:50% 50%;
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin:50% 50%;
	-moz-transform: rotate(180deg);
	-moz-transform-origin:50% 50%;
	-ms-transform: rotate(180deg);
	-ms-transform-origin:50% 50%;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, SizingMethod="auto expand");
}

.unieap .imageviewer-image-rotate270 {
	transform: rotate(270deg);
	transform-origin:50% 50%;
	-webkit-transform: rotate(270deg);
	-webkit-transform-origin:50% 50%;
	-moz-transform: rotate(270deg);
	-moz-transform-origin:50% 50%;
	-ms-transform: rotate(270deg);
	-ms-transform-origin:50% 50%;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=1, M21=-1, M22=0, SizingMethod="auto expand");
}

.unieap .imageviewer-toolbar {
	position: absolute;
	bottom: 10px;
	z-index: 5000;
	width: 100%;
	height: 40px;
}
.unieap .imageviewer-toolbar-common {
	margin-left: 2px;
	margin-right: 2px;
}

.unieap .imageviewer-toolbar>.imageviewer-toolbar-common {
	visibility:hidden !important;
}
.unieap .imageviewer-toolbar:hover>.imageviewer-toolbar-common {
	visibility:visible !important;
}

.unieap a.imageviewer-toolbar-btn-rotate-left {
	float: left;
}
.unieap a.imageviewer-toolbar-btn-rotate-right {
	float: left;
}
.unieap .imageviewer-toolbar-btn-fit {
	float: left;
}
.unieap .imageviewer-toolbar-input-zoom-rate {
	float: right;
}
.unieap a.imageviewer-toolbar-btn-zoom-out {
	float: right;
}
.unieap a.imageviewer-toolbar-btn-zoom-in {
	float: right;
}

.unieap .imageviewer-drag-start {
	cursor: move;
}