@CHARSET "UTF-8";
.unieap .wizard-wrapper {
	position: relative;
}
.unieap .wizard-container {
	display: block;
	width: 100%;
	height: auto;
}

.unieap .wizard-nav {
	display: block;
	position: absolute;
	width: 100%;
	height: 21px;
	bottom: 0px;
}

.unieap .wizard-nav-btn {
	display: block;
	float: right;
	margin: 0px 5px 2px 5px;
}