
.btnTable{
	position:absolute;
	bottom:15px;
	background-color:#efefef;
	border-top:rgb(180,180,180) 1px solid;
	margin-top:10px;
	font-size:12px; 
	box-sizing:border-box;
}

.btnTableTr{
	height:40px !important
}
/*table.btnTable > tr{
	height:40px!important
}*/
