* {
	FONT-SIZE: 12px
}

BODY.unieap {
	MARGIN: 0px;
	FONT-SIZE: 13px;
	PADDING: 0px;
	height:800px;
	overflow: hidden;
}

H2 {
	MARGIN: 0px 0px 15px;
	COLOR: #333;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold
}

.datagrid-pager {
	POSITION: relative;
	BACKGROUND: #efefef;
	BORDER-TOP: #ccc 1px solid
}

.pagination {
	ZOOM: 1;
}

.pagination TABLE {
	FLOAT: left;
	HEIGHT: 30px
}

.pagination-btn-separator {
	BORDER-LEFT: #ccc 1px solid;
	MARGIN: 3px 1px;
	FLOAT: left;
	HEIGHT: 24px;
	BORDER-RIGHT: #fff 1px solid
}

.pagination-num {
	BORDER-BOTTOM: #ccc 1px solid;
	BORDER-LEFT: #ccc 1px solid;
	MARGIN: 0px 2px;
	BORDER-TOP: #ccc 1px solid;
	BORDER-RIGHT: #ccc 1px solid
}

.pagination-page-list {
	MARGIN: 0px 6px
}

.pagination-info {
	PADDING-RIGHT: 6px;
	FLOAT: right;
	FONT-SIZE: 12px;
	PADDING-TOP: 8px
}

.pagination SPAN {
	FONT-SIZE: 12px
}

.zoom-in {
	BACKGROUND: url(../images/zoom_in.png) no-repeat
}
.zoom-out {
	BACKGROUND: url(../images/zoom_out.png) no-repeat
}
.pagination-first {
	BACKGROUND: url(../images/pagination_first.gif) no-repeat
}

.pagination-prev {
	BACKGROUND: url(../images/pagination_prev.gif) no-repeat
}

.pagination-next {
	BACKGROUND: url(../images/pagination_next.gif) no-repeat
}

.pagination-last {
	BACKGROUND: url(../images/pagination_last.gif) no-repeat
}

.pagination-load {
	BACKGROUND: url(../images/pagination_load.png) no-repeat
}

.pagination-loading {
	BACKGROUND: url(../images/pagination_loading.gif) no-repeat
}
.pagination-setprinter {
	BACKGROUND: url(../images/pagination_setprinter.png) no-repeat
}
.pagination-printer {
	BACKGROUND: url(../images/pagination_printer.png) no-repeat
}

.pagination-exporter {
	BACKGROUND: url(../images/export_c.gif) no-repeat
}

A.l-btn {
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	OUTLINE-WIDTH: medium;
	PADDING-RIGHT: 18px;
	ZOOM: 1;
	DISPLAY: inline-block;
	BACKGROUND: url(../images/button_a_bg.gif) no-repeat right top;
	HEIGHT: 24px;
	COLOR: #444;
	FONT-SIZE: 12px;
	CURSOR: pointer;
	TEXT-DECORATION: none
}

A.l-btn-plain {
	BORDER-BOTTOM: transparent 1px solid;
	BORDER-LEFT: transparent 1px solid;
	PADDING-RIGHT: 5px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	BORDER-TOP: transparent 1px solid;
	BORDER-RIGHT: transparent 1px solid;
	_border: 0px solid #efefef;
	_padding: 1px 6px 1px 1px
}

A.l-btn-disabled {
	FILTER: alpha(opacity =50);
	COLOR: #ccc;
	CURSOR: default;
	opacity: 0.5
}

A.l-btn SPAN.l-btn-left {
	PADDING-BOTTOM: 4px;
	LINE-HEIGHT: 16px;
	PADDING-LEFT: 18px;
	PADDING-RIGHT: 0px;
	DISPLAY: inline-block;
	BACKGROUND: url(../images/button_span_bg.gif) no-repeat left top;
	HEIGHT: 16px;
	PADDING-TOP: 4px
}

A.l-btn-plain SPAN.l-btn-left {
	PADDING-LEFT: 5px;
	BACKGROUND: none transparent scroll repeat 0% 0%
}

A.l-btn SPAN SPAN.l-btn-text {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 16px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	DISPLAY: inline-block;
	HEIGHT: 16px;
	PADDING-TOP: 0px
}

A.l-btn SPAN SPAN SPAN.l-btn-empty {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 16px;
	PADDING-RIGHT: 0px;
	DISPLAY: inline-block;
	PADDING-TOP: 0px
}

A.l-btn:hover {
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	OUTLINE-WIDTH: medium;
	BACKGROUND-POSITION: right bottom
}

A.l-btn:hover SPAN.l-btn-left {
	BACKGROUND-POSITION: left bottom
}

A.l-btn-plain:hover {
	BORDER-BOTTOM: #7eabcd 1px solid;
	BORDER-LEFT: #7eabcd 1px solid;
	BACKGROUND: url(../images/button_plain_hover.png) repeat-x left bottom;
	BORDER-TOP: #7eabcd 1px solid;
	BORDER-RIGHT: #7eabcd 1px solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	_padding: 0px 5px 0px 0px
}

A.l-btn-disabled:hover {
	BACKGROUND-POSITION: right top
}

A.l-btn-disabled:hover SPAN.l-btn-left {
	BACKGROUND-POSITION: left top
}

A.l-btn .l-btn-focus {
	OUTLINE-STYLE: dotted;
	OUTLINE-COLOR: #0000ff;
	OUTLINE-WIDTH: thin
}
span.checkbox{
	width: 16px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}
span.checked{
	BACKGROUND: url(../images/tree_checkbox_1.gif) no-repeat
}
span.unchecked{
	BACKGROUND: url(../images/tree_checkbox_0.gif) no-repeat
}