@CHARSET "UTF-8";

.labelEdit {
	display: block;
	position: relative;
	background: #222;
	padding: 5px;
	float: left;
	color: #fff;
	text-decoration: none;
	font-style: normal;
	background-image: url(../images/shade.png);
	background-position: bottom;
}

.labelShow {
	display: block;
	position: relative;
	background: #003399;
	padding: 5px;
	float: left;
	color: #fff;
	text-decoration: none;
	font-style: normal;
	background-image: url(../images/shade.png);
	background-position: bottom;
}