@CHARSET "UTF-8";
.addIcon {
	width: 18px;
	height: 18px;
	background: url("../images/add.gif") no-repeat;
}

.lockIcon {
	width: 18px;
	height: 18px;
	background: url("../images/lock.gif") no-repeat;
}

.queryIcon {
	width: 17px;
	height: 21px;
	background: url("../images/magnifier.png") no-repeat;
}

.queryIcon1 {
	width: 17px;
	height: 21px;
	float:right;
	background: url("../images/magnifier.png") no-repeat;
}

.deleteIcon {
	width: 18px;
	height: 18px;
	background: url("../images/delete.gif") no-repeat;
}

.deleteGrayIcon {
	width: 17px;
	height: 21px;
	background: url("../images/delete_dis.gif") no-repeat;
}
.saveIcon {
	width: 17px;
	height: 18px;
	background: url("../images/disk.png") no-repeat;
}

.okIcon {
	width: 17px;
	height: 21px;
	background: url("../images/tick.png") no-repeat;
}

.updateIcon {
	width: 18px;
	height: 18px;
	background: url("../images/report_edit.png") no-repeat;
}

.allDelIcon {
	width: 17px;
	height: 21px;
	background: url("../images/delete.png") no-repeat;
}

.closeIcon {
	width: 16px;
	height: 19px;
	background: url("../images/close.png") no-repeat;
}

.resetIcon {
	width: 16px;
	height: 19px;
	background: url("../images/reset.png") no-repeat;
}
.findIcon {
	width: 16px;
	height: 19px;
	background: url("../images/find.png") no-repeat;
}

.unieap .featureIcon {
	width: 16px;
	background: url("../images/featureIcon.png") no-repeat;
}
.unieap .featureGrayIcon {
	width: 16px;
	background: url("../images/featureGray.png") no-repeat;
}

.unieap .folderIcon {
	width: 16px;
	background: url("../images/folder.png") no-repeat;
}

.unieap .fileIcon {
	width: 16px;
	background: url("../images/file.png") no-repeat;
}

.unieap .featureIcon {
	width: 16px;
	background: url("../images/featureIcon.png") no-repeat;
}
.unieap .featureGrayIcon {
	width: 16px;
	background: url("../images/featureGray.png") no-repeat;
}

.unieap a.titlePane-button{
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-color:#7f9db9;
	border-width: 0px 0px 0px 2px;
	height:18px;
	width: 65px;
	margin: 3px;
	text-align: center;
	padding: 0px;
}





.unieap a.titlePane-button-save.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_save_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-save.u-form-btn-outer-disabled:hover{
	background: url("../images/_save_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-save:hover{
	background: url("../images/_save_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-save {
	filter:none;
	background: url("../images/_save.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}

.unieap a.titlePane-button-save .u-form-btn{
	width:auto;
	margin: 0px;
}

.unieap a.titlePane-button-save .u-form-btn-txt{
	display:none;
}


.unieap a.titlePane-button-reset.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_reset_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-reset.u-form-btn-outer-disabled:hover{
	background: url("../images/_reset_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-reset:hover{
	background: url("../images/_reset_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-reset {
	filter:none;
	background: url("../images/_reset.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-reset .u-form-btn{
	width:auto;
	margin: 0px;
}

.unieap a.titlePane-button-reset .u-form-btn-txt{
	display:none;
}


.unieap a.titlePane-button-redo.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_redo_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-redo.u-form-btn-outer-disabled:hover{
	background: url("../images/_redo_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-redo:hover{
	background: url("../images/_redo_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-redo {
	filter:none;
	background: url("../images/_redo.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-redo .u-form-btn{
	width:auto;
	margin: 0px;
}

.unieap a.titlePane-button-redo .u-form-btn-txt{
	display:none;
}

.unieap a.titlePane-button-add.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_addnew_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-add.u-form-btn-outer-disabled:hover{
	background: url("../images/_addnew_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-add:hover{
	background: url("../images/_addnew_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-add {
	filter:none;
	background: url("../images/_addnew.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-add .u-form-btn{
	width:auto;
	margin: 0px;
}

.unieap a.titlePane-button-add .u-form-btn-txt{
	display:none;
}

.unieap a.titlePane-button-delete.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_delete_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-delete.u-form-btn-outer-disabled:hover{
	background: url("../images/_delete_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-delete:hover{
	background: url("../images/_delete_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-delete {
	filter:none;
	background: url("../images/_delete.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-delete .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-delete .u-form-btn-txt{
	display:none;
}

.unieap a.titlePane-button-search.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_search_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-search.u-form-btn-outer-disabled:hover{
	background: url("../images/_search_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-search:hover{
	background: url("../images/_search_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-search {
	filter:none;
	background: url("../images/_search.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-search .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-search .u-form-btn-txt{
	display:none;
}



.unieap a.u-form-btn-outer-disabled .u-form-btn{
	cursor:default;
}




.unieap a:hover.titlePane-button{
	background:#ABBFEC repeat-x top left;
}
.unieap a:hover.u-form-btn-outer-disabled{
	background: none;
}

.unieap .edit-img {
	cursor:pointer;
	height:14px;
	width:14px;
}

.unieap .delete-img {
	cursor:pointer;
	height:14px;
	width:14px;
}
.unieap .treeLabelDisabled {
	text-decoration: none;
}

.unieap .treeLabelReadOnly {
	text-decoration: none;
	color: #a7a6aa;
}
.dojoDndItemAnchor {
	background: none;
	color: black;
}

.scIcon {
	background-image: url('../images/scP.gif');
}
.dcIcon {
	background-image: url('../images/dcP.gif');
}
.pageIcon {
	background-image: url('../images/page.gif');
}
.cIcon {
	background-image: url('../images/category.png');
}
.vIcon {
	background-image: url('../images/variability.png');
}
.wIcon{
	background-image: url('../images/widget.png');
}

.unieap a.titlePane-button-return.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_return_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-return.u-form-btn-outer-disabled:hover{
	background: url("../images/_return_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-return:hover{
	background: url("../images/_return_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-return {
	filter:none;
	background: url("../images/_return.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-return .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-return .u-form-btn-txt{
	display:none;
}

.unieap a.titlePane-button-confirm.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_confirm_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-confirm.u-form-btn-outer-disabled:hover{
	background: url("../images/_confirm_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-confirm:hover{
	background: url("../images/_confirm_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-confirm {
	filter:none;
	background: url("../images/_confirm.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-confirm .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-confirm .u-form-btn-txt{
	display:none;
}

.unieap a.titlePane-button-refresh.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_refresh_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-refresh.u-form-btn-outer-disabled:hover{
	background: url("../images/_refresh_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-refresh:hover{
	background: url("../images/_refresh_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-refresh {
	filter:none;
	background: url("../images/_refresh.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-refresh .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-refresh .u-form-btn-txt{
	display:none;
}

.unieap a.titlePane-button-bulid.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_bulid_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-bulid.u-form-btn-outer-disabled:hover{
	background: url("../images/_bulid_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-bulid:hover{
	background: url("../images/_bulid_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-bulid {
	filter:none;
	background: url("../images/_bulid.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-bulid .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-bulid .u-form-btn-txt{
	display:none;
}

/*权限*/
.unieap a.titlePane-button-authority.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_authority_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-authority.u-form-btn-outer-disabled:hover{
	background: url("../images/_authority_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-authority:hover{
	background: url("../images/_authority_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-authority {
	filter:none;
	background: url("../images/_authority.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-authority .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-authority .u-form-btn-txt{
	display:none;
}

/*页面授权*/
.unieap a.titlePane-button-accredit.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_accredit_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-accredit.u-form-btn-outer-disabled:hover{
	background: url("../images/_accredit_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-accredit:hover{
	background: url("../images/_accredit_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-accredit {
	filter:none;
	background: url("../images/_accredit.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-accredit .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-accredit .u-form-btn-txt{
	display:none;
}

/*启动*/
.unieap a.titlePane-button-start.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_start_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-start.u-form-btn-outer-disabled:hover{
	background: url("../images/_start_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-start:hover{
	background: url("../images/_start_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-start {
	filter:none;
	background: url("../images/_start.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-start .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-start .u-form-btn-txt{
	display:none;
}

/*暂停*/
.unieap a.titlePane-button-stop.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_stop_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-stop.u-form-btn-outer-disabled:hover{
	background: url("../images/_stop_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-stop:hover{
	background: url("../images/_stop_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-stop {
	filter:none;
	background: url("../images/_stop.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-stop .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-stop .u-form-btn-txt{
	display:none;
}

/*修改*/
.unieap a.titlePane-button-modify.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_modify_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-modify.u-form-btn-outer-disabled:hover{
	background: url("../images/_modify_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-modify:hover{
	background: url("../images/_modify_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-modify {
	filter:none;
	background: url("../images/_modify.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-modify .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-modify .u-form-btn-txt{
	display:none;
}

/*查询报告*/
.unieap a.titlePane-button-sreport.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_sreport_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-sreport.u-form-btn-outer-disabled:hover{
	background: url("../images/_sreport_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-sreport:hover{
	background: url("../images/_sreport_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-sreport {
	filter:none;
	background: url("../images/_sreport.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-sreport .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-sreport .u-form-btn-txt{
	display:none;
}

/*测试预执行*/
.unieap a.titlePane-button-texecute.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_texecute_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-texecute.u-form-btn-outer-disabled:hover{
	background: url("../images/_texecute_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-texecute:hover{
	background: url("../images/_texecute_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-texecute {
	filter:none;
	background: url("../images/_texecute.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-texecute .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-texecute .u-form-btn-txt{
	display:none;
}

/*查看覆盖率*/
.unieap a.titlePane-button-scover.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_scover_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-scover.u-form-btn-outer-disabled:hover{
	background: url("../images/_scover_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-scover:hover{
	background: url("../images/_scover_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-scover {
	filter:none;
	background: url("../images/_scover.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-scover .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-scover .u-form-btn-txt{
	display:none;
}

/*设计用例*/
.unieap a.titlePane-button-design.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_design_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-design.u-form-btn-outer-disabled:hover{
	background: url("../images/_design_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-design:hover{
	background: url("../images/_design_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-design {
	filter:none;
	background: url("../images/_design.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-design .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-design .u-form-btn-txt{
	display:none;
}

/*查看结果*/
.unieap a.titlePane-button-sresult.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_sresult_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-sresult.u-form-btn-outer-disabled:hover{
	background: url("../images/_sresult_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-sresult:hover{
	background: url("../images/_sresult_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-sresult {
	filter:none;
	background: url("../images/_sresult.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-sresult .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-sresult .u-form-btn-txt{
	display:none;
}
/*关闭*/
.unieap a.titlePane-button-close.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_close_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-close.u-form-btn-outer-disabled:hover{
	background: url("../images/_close_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-close:hover{
	background: url("../images/_close_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-close {
	filter:none;
	background: url("../images/_close.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-close .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-close .u-form-btn-txt{
	display:none;
}

/*导出报告*/
.unieap a.titlePane-button-export.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_export_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-export.u-form-btn-outer-disabled:hover{
	background: url("../images/_export_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-export:hover{
	background: url("../images/_export_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-export {
	filter:none;
	background: url("../images/_export.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-export .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-export .u-form-btn-txt{
	display:none;
}

/*定位*/
.unieap a.titlePane-button-fix.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_fix_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-fix.u-form-btn-outer-disabled:hover{
	background: url("../images/_fix_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-fix:hover{
	background: url("../images/_fix_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-fix {
	filter:none;
	background: url("../images/_fix.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-fix .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-fix .u-form-btn-txt{
	display:none;
}

/*启动/停止*/
.unieap a.titlePane-button-sstop.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_sstop_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-sstop.u-form-btn-outer-disabled:hover{
	background: url("../images/_sstop_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-sstop:hover{
	background: url("../images/_sstop_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-sstop {
	filter:none;
	background: url("../images/_sstop.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-sstop .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-sstop .u-form-btn-txt{
	display:none;
}

/*清空*/
.unieap a.titlePane-button-clear.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_clear_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-clear.u-form-btn-outer-disabled:hover{
	background: url("../images/_clear_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-clear:hover{
	background: url("../images/_clear_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-clear {
	filter:none;
	background: url("../images/_clear.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-clear .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-clear .u-form-btn-txt{
	display:none;
}

/*上移*/
.unieap a.titlePane-button-moveup.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_moveup_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-moveup.u-form-btn-outer-disabled:hover{
	background: url("../images/_moveup_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-moveup:hover{
	background: url("../images/_moveup_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-moveup {
	filter:none;
	background: url("../images/_moveup.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-moveup .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-moveup .u-form-btn-txt{
	display:none;
}

/*下移*/
.unieap a.titlePane-button-movedown.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_movedown_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-movedown.u-form-btn-outer-disabled:hover{
	background: url("../images/_movedown_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-movedown:hover{
	background: url("../images/_movedown_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-movedown {
	filter:none;
	background: url("../images/_movedown.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-movedown .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-movedown .u-form-btn-txt{
	display:none;
}

/*锁定解锁*/
.unieap a.titlePane-button-lock.u-form-btn-outer-disabled {
	filter:none;
	background: url("../images/_lock_disable.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-lock.u-form-btn-outer-disabled:hover{
	background: url("../images/_lock_disable.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-lock:hover{
	background: url("../images/_lock_hover.png") no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-lock {
	filter:none;
	background: url("../images/_lock.png") no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-lock .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-lock .u-form-btn-txt{
	display:none;
}


/*使用说明*/
.unieap a.titlePane-button-doc.u-form-btn-outer-disabled {
	filter:none;
	background: url(../themeRoller/images/_doc_disable.png) no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-doc.u-form-btn-outer-disabled:hover{
	background: url(../images/_doc_disable.png) no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-doc:hover{
	background: url(../images/_doc_hover.png) no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-doc {
	filter:none;
	background: url(../images/_doc.png) no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-doc .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-doc .u-form-btn-txt{
	display:none;
}


/*保存&下载*/
.unieap a.titlePane-button-download.u-form-btn-outer-disabled {
	filter:none;
	background: url(../images/_export_disable.png) no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
	cursor:default;
}
.unieap a.titlePane-button-download.u-form-btn-outer-disabled:hover{
	background: url(../images/_download_disable.png) no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-download:hover{
	background: url(../images/_download_hover.png) no-repeat center;
	filter:none;
}
.unieap a.titlePane-button-download {
	filter:none;
	background: url(../images/_download.png) no-repeat center;
	height:16px;
	width: 16px;
	text-align: center;
	margin: 3px 5px 3px 5px;
	border:0;
}
.unieap a.titlePane-button-download .u-form-btn{
	width:auto;
	margin: 0px;
}
.unieap a.titlePane-button-download .u-form-btn-txt{
	display:none;
}
