@CHARSET "UTF-8";
.addIcon {
	width: 18px;
	height: 18px;
	background: url("../images/add.gif") no-repeat;
}

.lockIcon {
	width: 18px;
	height: 18px;
	background: url("../images/lock.gif") no-repeat;
}

.queryIcon {
	width: 17px;
	height: 21px;
	background: url("../images/magnifier.png") no-repeat;
}

.queryIcon1 {
	width: 17px;
	height: 21px;
	float:right;
	background: url("../images/magnifier.png") no-repeat;
}

.deleteIcon {
	width: 18px;
	height: 18px;
	background: url("../images/delete.gif") no-repeat;
}

.deleteGrayIcon {
	width: 17px;
	height: 21px;
	background: url("../images/delete_dis.gif") no-repeat;
}
.saveIcon {
	width: 17px;
	height: 18px;
	background: url("../images/disk.png") no-repeat;
}

.okIcon {
	width: 17px;
	height: 21px;
	background: url("../images/tick.png") no-repeat;
}

.updateIcon {
	width: 18px;
	height: 18px;
	background: url("../images/report_edit.png") no-repeat;
}

.allDelIcon {
	width: 17px;
	height: 21px;
	background: url("../images/delete.png") no-repeat;
}

.closeIcon {
	width: 16px;
	height: 19px;
	background: url("../images/close.png") no-repeat;
}

.resetIcon {
	width: 16px;
	height: 19px;
	background: url("../images/reset.png") no-repeat;
}
.findIcon {
	width: 16px;
	height: 19px;
	background: url("../images/find.png") no-repeat;
}

.unieap .featureIcon {
	width: 16px;
	background: url("../images/featureIcon.png") no-repeat;
}
.unieap .featureGrayIcon {
	width: 16px;
	background: url("../images/featureGray.png") no-repeat;
}

.unieap .folderIcon {
	width: 16px;
	background: url("../images/folder.png") no-repeat;
}

.unieap .fileIcon {
	width: 16px;
	background: url("../images/file.png") no-repeat;
}

.unieap .featureIcon {
	width: 16px;
	background: url("../images/featureIcon.png") no-repeat;
}
.unieap .featureGrayIcon {
	width: 16px;
	background: url("../images/featureGray.png") no-repeat;
}

.unieap a.titlePane-button{
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
}

.unieap a.u-form-btn-outer-disabled .u-form-btn{
	cursor:default;
}

.unieap a:hover.titlePane-button{
	background:#ABBFEC repeat-x top left;
}
.unieap a:hover.u-form-btn-outer-disabled{
	background: none;
}

.unieap .edit-img {
	cursor:pointer;
	height:14px;
	width:14px;
}

.unieap .delete-img {
	cursor:pointer;
	height:14px;
	width:14px;
}
.unieap .treeLabelDisabled {
	text-decoration: none;
}

.unieap .treeLabelReadOnly {
	text-decoration: none;
	color: #a7a6aa;
}
.dojoDndItemAnchor {
	background: none;
	color: black;
}

.scIcon {
	background-image: url('../images/scP.gif');
}
.dcIcon {
	background-image: url('../images/dcP.gif');
}
.pageIcon {
	background-image: url('../images/page.gif');
}
.cIcon {
	background-image: url('../images/category.png');
}
.vIcon {
	background-image: url('../images/variability.png');
}
.wIcon{
	background-image: url('../images/widget.png');
}




.unieap a.titlePane-button-save {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-reset {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-redo {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-add {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-delete {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-search {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-return {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-confirm {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-refresh {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-bulid {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-authority {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-accredit {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-start {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-stop {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-modify {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-sreport {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-texecute {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-scover {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-design {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-sresult {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-close {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-export {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-fix {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-sstop {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-clear {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-moveup {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-movedown {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-lock {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-doc {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}
.unieap a.titlePane-button-download {
	display:inline-block;
	background: repeat-x top left;
	border-style:solid;
	border-width: 0px 0px 0px 2px;
	height:18px;
	text-align: center;
	padding: 0px;
	margin:2px;
}