<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
   <bean id="ria_RicheditorDAO_dao" class="com.neusoft.unieap.techcomp.ria.richeditor.dao.impl.RicheditorDAOImpl">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
   <bean id="ria_autoQueryDAO_dao" class="com.neusoft.unieap.techcomp.ria.common.query.dao.impl.AutoQueryDAOImpl">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
   <bean id="ria_codeListDAO_dao" class="com.neusoft.unieap.techcomp.ria.codelist.dao.impl.CodeListDAOImpl">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
   <bean id="ria_extInfoDAO_dao" class="com.neusoft.unieap.techcomp.ria.ext.dao.impl.ExtInfoDAOImpl">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
   <bean id="ria_gridIndividualDAO_dao" class="com.neusoft.unieap.techcomp.ria.individual.dao.impl.GridIndividualDAOImpl">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
   <bean id="ria_pageIndividualDAO_dao" class="com.neusoft.unieap.techcomp.ria.individual.dao.impl.PageIndividualDAOImpl">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
   <bean id="ria_pageQueryDAO_dao" class="com.neusoft.unieap.techcomp.ria.common.query.dao.impl.PageQueryDAOImpl">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
   <bean id="ria_quickSearchDAO_dao" class="com.neusoft.unieap.techcomp.ria.quicksearch.dao.impl.QuickSearchDAOImpl">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
</beans>

