/*-------Container-------*/
.unieap .tabContainer {
	
}

.unieap .tabContainer-nest {
	
}

.unieap .tab-scrolling-container {
	
}

.unieap .tab-scrolling {
	
}

.unieap .tabPaneWrapper {
	background: #fff;
}

.tabSpacer {
	font-size: 1px;
}

.unieap .tab {
	
}
/*
.unieap .tabChecked {
	background-color: #fff;
	border-color: #ccc;
	color: #15428B !important;
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
*/
/* sun
.unieap .tab .unieapClosable .closeImage {
	background: url("../images/layout/tab-close.gif") no-repeat;
}
*/
.unieap .arrowsImage{
	display:inline-block;
	zoom:1;
	*display:inline;
	width: 7px;
	height:12px;
	margin:0px 5px -2px -2px;
	padding-right: 5px;
	/* background: url("../images/layout/arrow.gif") repeat-x; */
	background: url("../images/layout/arrow.png") no-repeat;
}

/*返回按钮*/
/*
.unieap .disableBackDiv{
	width: 16px;
	height: 16px;
	float: left;
	display: inline-block;
	zoom:1;
	*display:inline;
	margin-top: 2px;
	margin-left: 4px;
	background: url("../images/layout/disable_back.png") no-repeat;
}
*/
/*
.unieap .backDiv{
	width: 16px;
	height: 16px;
	float: left;
	display: inline-block;
	zoom:1;
	*display:inline;
	margin-top: 2px;
	margin-left: 4px;
	background: url("../images/layout/back.png") no-repeat;
}
*/
.unieap .refreshDiv{
	width: 16px;
	height: 16px;
	float: left;
	display: inline-block;
	zoom:1;
	*display:inline;
	margin-top: 3px;
	margin-left: 4px;
	background: url("../images/layout/refresh.png") no-repeat;
}
/*
.unieap .disableNextDiv{
	width: 16px;
	height: 16px;
	float: left;
	display: inline-block;
	zoom:1;
	*display:inline;
	margin-top: 2px;
	margin-left: 4px;
	background: url("../images/layout/disable_next.png") no-repeat;
}
*/
/*Tab a标签*/
.unieap a.u-a-tab {
	color: #000;
}

.unieap a:hover.u-a-tab {
	color: inherit;
	border: 1px solid #ccc;
}

.unieap .tab-scrolling-container .tabward {
	
}

.unieap .tab-scrolling-container .eapMenu {
	background-color: white;
	/*TODO*/
}

/*------- top -------*/
.unieap .navigator-scrolling-containerTop {
	/*background: url("../images/layout/button-bg.png") repeat-x;*/
	background: #f3f3f3;
}

.unieap .tabContainerTop .tabPaneWrapperTop {
	
}

.unieap .tabContainerTop-tabs .tab {
	 background: #F3F3F3; 
	/*background: url("../images/layout/tab-left.gif"") no-repeat top left;*/
}
/* sun button背景*/
.unieap .tabContainerTop-tabs .navigator {
	/*background:url("../images/layout/tab-left.gif") no-repeat top left;*/
}

.unieap .tabContainerTop-tabs .tabChecked {
	/*background: #fff url("../images/layout/selected-top.jpg") repeat-x;*/
}
/* sun button hover 背景*/
.unieap a:hover.u-a-navigatorTop {
	/*background: #e2e2e2 url("../images/layout/mainNavBg.gif") repeat-x !important;*/
}
.unieap a:visited.u-a-navigatorTop{
	color: blue;
}
/*
.unieap a:hover.u-a-tabTop {
	background: #e2e2e2 url("../images/layout/mainNavBg.gif") repeat-x;
}*/
/*
.unieap .tabContainerTop .eapLeftTop {
	background: #e2e2e2 url("../images/layout/eap-tLeft.jpg") no-repeat;
}

.unieap .tabContainerTop .eapRightTop {
	background: #e2e2e2 url("../images/layout/eap-tRight.jpg") no-repeat;
}

.unieap .tabContainerTop .eapMenuTop {
	background-image: url("../images/layout/eap-tMore.jpg");
}

.dj_ie6 .unieap .tabContainerTop .eapMenuTop,.dj_ie6 .unieap .tabContainerTop .eapRightTop
	{
	
}

.unieap .tabContainerTop .tabSpacerTop,.unieap .tabContainerBottom .tabSpacerBottom
	{
	
}

.unieap .tabContainerTop-tabs .tab,.unieap .tabContainerBottom-tabs .tab
	{
	
}
*/
.unieap .tabContainerBottom-tabs .tabInnerDiv,.unieap .tabContainerTop-tabs .tabInnerDiv
	{
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 12px;
}
/*解决IE6下，存在关闭图片时，tab button向下串位*/
.dj_ie6 .unieap .tabContainerBottom-tabs .unieapClosable,.dj_ie6 .unieap .tabContainerTop-tabs .unieapClosable
	{
	
}

.unieap .tabContainerTop-tabs .tab .unieapClosable .closeImage,.unieap .tabContainerBottom-tabs .tab .unieapClosable .closeImage
	{
	
}

/*------- bottom -------*/
.unieap .tabContainerBottom .tab-scrolling-containerBottom {
	background-color: #d3e0f2;
}

.unieap .tabContainerBottom .tabPaneWrapperBottom {
	
}

.unieap .tabContainerBottom-tabs .tab {
	background: #e2e2e2 url("../images/layout/enabled-btm.jpg") repeat-x;
}

.unieap .tabContainerBottom-tabs .tabChecked {
	background: #fff url("../images/layout/selected-btm.jpg") repeat-x;
}

.unieap a:hover.u-a-tabBottom {
	background: #e2e2e2 url("../images/layout/hover-btm.jpg") repeat-x;
}

.unieap .tabContainerBottom .eapLeftBottom {
	background: #e2e2e2 url("../images/layout/eap-bLeft.jpg") no-repeat;
}

.unieap .tabContainerBottom .eapRightBottom {
	background: #e2e2e2 url("../images/layout/eap-bRight.jpg") no-repeat;
}

.unieap .tabContainerBottom .eapMenuBottom {
	background-image: url("../images/layout/eap-bMore.jpg");
}

.dj_ie6 .unieap .tabContainerBottom .eapMenuBottom,.dj_ie6 .unieap .tabContainerBottom .eapRightBottom
	{
	
}
/*------- left -------*/
.unieap .tabContainerLeft .tab-scrolling-containerLeft {
	background-color: #d3e0f2;
}

.unieap .tabContainerLeft .tabPaneWrapperLeft {
	
}

.unieap .tabContainerLeft .tabSpacerLeft {
	
}

.unieap .tabContainerLeft-tabs .tab {
	background: #e2e2e2 url("../images/layout/enabled-left.jpg") repeat-y;
}

.unieap .tabContainerLeft-tabs .tabChecked {
	background: #fff url("../images/layout/selected-left.jpg") repeat-y;
}

.unieap a:hover.u-a-tabLeft {
	background: #e2e2e2 url("../images/layout/hover-left.jpg") repeat-y;
}

.unieap .tabContainerLeft  .eapUpLeft {
	background: url("../images/layout/eap-lTop.jpg") no-repeat;
}

.unieap .tabContainerLeft .eapDownLeft {
	background: url("../images/layout/eap-lBottom.jpg") no-repeat;
}

.unieap .tabContainerLeft .eapMenuLeft {
	background-image: url("../images/layout/eap-lMore.jpg");
}

/*调整tab Button之间的margin*/
.unieap .tabContainerLeft-tabs .tab,.unieap .tabContainerRight-tabs .tab
	{
	
}

.unieap .tabContainerLeft-tabs .tabInnerDiv,.unieap .tabContainerRight-tabs .tabInnerDiv
	{
	
}

.unieap .tabLabel
	{
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 12px;
}

.unieap .tabContainerLeft-tabs .tab .unieapClosable .closeImage,.unieap .tabContainerRight-tabs .tab .unieapClosable .closeImage
	{
	
}

/*------- right -------*/
.unieap .tabContainerRight .tab-scrolling-containerRight {
	background-color: #d3e0f2;
}

.unieap .tabContainerRight .tabPaneWrapperRight {
	
}

.unieap .tabContainerRight .tabSpacerRight {
	
}

.unieap .tabContainerRight-tabs .tab {
	background: #e2e2e2 url("../images/layout/enabled-right.jpg") repeat-y;
}

.unieap .tabContainerRight-tabs .tabChecked {
	background: #fff url("../images/layout/selected-right.jpg") repeat-y;
}

.unieap a:hover.u-a-tabRight {
	background: #e2e2e2 url("../images/layout/hover-right.jpg") repeat-y;
}

.unieap .tabContainerRight  .eapUpRight {
	background: url("../images/layout/eap-rTop.jpg") no-repeat;
}

.unieap .tabContainerRight .eapDownRight {
	background: url("../images/layout/eap-rBottom.jpg") no-repeat;
}

.unieap .tabContainerRight .eapMenuRight {
	background-image: url("../images/layout/eap-rMore.jpg");
}

.unieapHidden {
	
}

.unieapVisible {
	
}