<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
   <bean id="security_application_sysSecApplication_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_application_sysSecApplicationAdd_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_application_sysSecApplicationEdit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_authority_role_principalList_role_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_authority_role_selectTest_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_authority_station_principalList_station_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_data_authority_data_authority_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_data_authority_data_authority_configure_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_data_authority_data_authority_datascope_group_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_data_authority_data_authority_edit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datascope_datascop_edit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datascope_datascope_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datascope_datascope_add_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datascope_user_dataScopeconfig_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datascope_user_datascope_user_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datascopetype_datascopetype_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datasource_sysSecDataSource_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datasource_sysSecDataSourceAdd_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datasource_sysSecDataSourceDtl_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_datasource_sysSecDataSourceEdit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_menu_menu_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_menu_tabPane_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_page_page_add_unieap_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_page_page_edit_unieap_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_page_page_list_unieap_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_page_page_resource_add_unieap_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_page_page_resource_edit_unieap_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_page_authority_role_role_page_authority_unieap_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_page_authority_station_station_page_authority_unieap_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_page_resource_authority_role_role_page_resource_authority_unieap_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_page_resource_authority_station_station_page_resource_authority_unieap_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_resetpassword_resetPsd_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_role_sysSecRole_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_role_sysSecRoleAdd_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_role_sysSecRoleEdit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_role_sysSecRole_User_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_station_stationAdd_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_station_stationEdit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_station_stationManage_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_station_stationManage1_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_station_user_station_user_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_station_user_station_userAdd_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_station_user_station_userEdit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_unit_unitManage_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_unit_user_unit_user_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_unit_user_unit_userAdd_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_unit_user_unit_userEdit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_user_sysSecUser_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_user_sysSecUserAdd_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_user_sysSecUserDtl_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_user_sysSecUserEdit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_user_sysSecUserImport_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_userGroup_sysSecUserGroup_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_userGroup_sysSecUserGroupAdd_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_userGroup_sysSecUserGroupEdit_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
   <bean id="security_userGroup_sysSecUserGroup_User_entry" class="com.neusoft.unieap.techcomp.ria.common.action.CommonEntry" scope="prototype" />
</beans>

